*:focus-visible {
    outline: 2px solid var(--focus-outline-color, #005fcc);
}

html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, rgb(0, 0, 0, .06) 1px, transparent 1px);
    background-size: 24px 24px;
    background-color: var(--body-bg);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header-family);
    font-weight: 600;
    color: var(--color-header);
}

h1 {
    font-size: clamp(6.2rem, 5.7455rem + 1.4205vw, 7.2rem);
    line-height: var(--lh);
    letter-spacing: -0.18rem;
}

h2 {
    margin-block-end: clamp(var(--spacing-2xl), 1.7455rem + 4.5455vw, calc(var(--spacing-xs) * 8));
    font-size: clamp(3.8rem, 3.3455rem + 1.4205vw, 4.8rem);
    line-height: var(--lh);
    letter-spacing: -0.1rem;
}


a {
    color: var(--color-text);
    text-decoration: underline;

    &:active,
    &:hover {
        color: var(--a-hover-color);
    }
}

section {
    padding-block: calc(var(--spacing-xs) * 12);
    padding-inline: clamp(var(--spacing-m), 0.4364rem + 3.6364vw, var(--spacing-3xl));

    &:nth-child(2n + 3) {
        background: var(--secondary);
        border-top: 0.1rem solid var(--border-color);
        border-bottom: 0.1rem solid var(--border-color);
    }
}

svg {
    stroke: var(--highlight-color);
}

header,
footer {
    padding-inline: clamp(var(--spacing-m), 0.4364rem + 3.6364vw, var(--spacing-3xl));
}

.container {
    max-width: 115.2rem;
    margin-inline: auto;
}

.logo {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;

    span {
        font-family: var(--font-header-family);
        font-size: var(--fs-l);
        font-weight: 700;
        color: var(--color-header);
        line-height: var(--lh-s);
        letter-spacing: -.05rem;
    }
}

.preheader {
    margin-block-end: var(--spacing-m);
    display: flex;
    gap: var(--spacing-m);
    align-items: center;
    font-size: clamp(var(--fs), 1.1091rem + 0.2841vw, var(--fs-xs));
    font-weight: 500;
    color: var(--color-preheader);
    line-height: var(--lh-l);
    text-transform: uppercase;

    &::before {
        content: '';
        width: 3.2rem;
        height: 0.2rem;
        display: block;
        background: var(--color-preheader);
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-nowrap {
    white-space: nowrap;
}
