*:focus-visible {
    outline: 2px solid var(--focus-outline-color, #005fcc);
}

html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, rgb(0, 0, 0, .06) 1px, transparent 1px);
    background-size: 24px 24px;
    background-color: var(--body-bg);
    font-family: var(--body-ff), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--body-fs);
    font-weight: var(--body-fw);
    line-height: var(--body-lh);
    color: var(--body-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header-family), 'Times New Roman', Times, serif;
    font-weight: var(--h-fw);
    color: var(--h-color);
}

h1 {
    margin-block-end: var(--h1-margin-block-end);
    padding-block-end: var(--h1-padding-block-end);
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
    letter-spacing: var(--h1-ls);
}

h2 {
    margin-block-end: var(--h2-margin-block-end);
    padding-block-end: var(--h2-padding-block-end);
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    letter-spacing: var(--h2-ls);
}

h3 {
    margin-block-end: var(--h3-margin-block-end);
    padding-block-end: var(--h3-padding-block-end);
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    letter-spacing: var(--h3-ls);
}

h4 {
    margin-block-end: var(--h4-margin-block-end);
    padding-block-end: var(--h4-padding-block-end);
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    letter-spacing: var(--h4-ls);
}

h5 {
    margin-block-end: var(--h5-margin-block-end);
    padding-block-end: var(--h5-padding-block-end);
    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
    letter-spacing: var(--h5-ls);
}

h6 {
    margin-block-end: var(--h6-margin-block-end);
    padding-block-end: var(--h6-padding-block-end);
    font-size: var(--h6-fs);
    line-height: var(--h6-lh);
    letter-spacing: var(--h6-ls);
}

p {
    margin-block-end: var(--p-margin-block-end);
    padding-block-end: var(--p-padding-block-end);
    font-size: var(--p-fs);
    font-weight: var(--p-fw);
    line-height: var(--p-lh);
}

a {
    color: var(--a-color);
    text-decoration: var(--a-text-decoration);

    &:active,
    &:hover {

        &:not(.btn) {
            color: var(--a-hover-color) !important;

            svg {
                stroke: var(--a-hover-color) !important;
            }
        }
    }
}

ul {
    margin: var(--ul-margin);
    padding: var(--ul-padding);
    display: var(--ul-display);
    list-style: var(--ul-list-style);
    @container style(--ul-display: flex) or style(--ul-display: grid) {
        flex-direction: var(--ul-flex-direction);
        gap: var(--ul-gap);
        align-items: var(--ul-align-items);
    }
    font-size: var(--ul-fs);
    font-weight: var(--ul-fw);
    white-space: var(--ul-white-space);

    li {
        margin: var(--li-margin);
        padding: var(--li-padding);
        display: var(--li-display);
        @container style(--li-display: flex) or style(--li-display: grid) {
            gap: var(--li-gap);
            align-items: var(--li-align-items);
        }
        font-size: var(--li-fs);
        line-height: var(--li-lh);

        &::before {
            content: var(--li-before-content);
            font-size: var(--li-before-fs);
            color: var(--li-before-color);
            line-height: var(--li-before-lh);
        }

        &:last-child {
            margin: var(--li-last-child-margin);
            padding: var(--li-last-child-padding)
        }
    }
}

hr {
    margin-block: var(--hr-margin-block);
    border: none;
    border-block-start: var(--hr-border);
}

svg {
    stroke: var(--svg-collor);
}

header,
footer,
section {
    padding-inline: var(--section-padding-inline);
    padding-block: var(--section-padding-block);
}

section {

    &:nth-child(2n + 3) {
        background: var(--section-bg);
        border-block-start: var(--section-border);
        border-block-end: var(--section-border);
    }
}

.container {
    max-width: 115.2rem;
    margin-inline: auto;
}

.logo {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;

    span {
        font-family: var(--font-header-family), 'Times New Roman', Times, serif;
        font-size: var(--fs-l);
        font-weight: 700;
        color: var(--h-color);
        line-height: var(--lh-s);
        letter-spacing: -.05rem;
    }
}

.highlight {
    font-size: var(--highlight-fs) !important;
    font-weight: var(--highlight-fw) !important;
    color: var(--highlight-color) !important;
    line-height: var(--highlight-lh) !important;

    &:has(svg) {
        display: flex;
        gap: var(--highlight-gap);
        align-items: center;
    }

    svg {
        width: var(--highlight-svg-size);
        height: var(--highlight-svg-size);
        stroke: var(--highlight-color);
    }
}

.preheader {
    margin-block-end: var(--preheader-margin-block-end);
    display: flex;
    gap: var(--preheader-gap);
    align-items: var(--preheader-align-items);
    font-size: var(--preheader-fs);
    font-weight: var(--preheader-fw);
    color: var(--preheader-color);
    line-height: var(--preheader-lh);
    text-transform: var(--preheader-text-transform);

    &::before {
        content: var(--preheader-content);
        width: var(--preheader-w);
        height: var(--preheader-h);
        display: block;
        background: var(--preheader-color);
    }
}

.social-icons {
    display: var(--social-icons-display);
    @container style(--social-icons-display: flex) or style(--social-icons-display: grid) {
        gap: var(--social-icons-gap);
        align-items: var(--social-icons-align-items);
    }

    svg {
        width: var(--social-icon-size);
        height: var(--social-icon-size);
        stroke: var(--social-icon-color);
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-nowrap {
    white-space: nowrap;
}

.backdrop {
    inset: 0;
    display: block;
    padding: 0;
    background: var(--backdrop-bg);
    backdrop-filter: var(--backdrop-backdrop-filter);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--backdrop-transition);
    position: fixed;
    z-index: 1;

    @media (min-width: 64rem)  {
        display: none;
    }
}
