/*
 * Buttons
 *
*/

.btn {
    height: var(--btn-height);
    padding: var(--btn-padding);
    display: var(--btn-display);
    gap: var(--btn-gap);
    align-items: var(--btn-align-items);
    justify-content: var(--btn-justify-content);
    transition: var(--btn-transition);
    border-radius: var(--btn-radius);
    font-size: var(--btn-fs);
    font-weight: var(--btn-fw);
    line-height: var(--lh);
    text-decoration: var(--btn-text-decoration);
    white-space: var(--btn-white-space);

    &:not(.btn--large) {

        svg {
            width: var(--btn-svg-dimension);
            height: var(--btn-svg-dimension);
        }
    }
}

.btn--large {
    height: var(--btn-large-height);
    padding: var(--btn-large-padding);
    font-size: var(--btn-large-fs);
}

.btn--primary {
    background-color: var(--btn-primary-bg);
    border: var(--btn-primary-border);
    color: var(--btn-primary-color) !important;

    &:active,
    &:hover {
        background-color: var(--btn-primary-hover-bg);
        border-color: var(--btn-primary-hover-border);
    }

    svg {
        stroke: var(--btn-primary-color) !important;
    }
}

.btn--secondary {
    background-color: var(--btn-secondary-bg);
    border: var(--btn-secondary-border);
    color: var(--btn-secondary-color) !important;

    &:active,
    &:hover {
        background-color: var(--btn-secondary-hover-bg);
        border-color: var(--btn-secondary-hover-border);
    }

    svg {
        stroke: var(--btn-secondary-color) !important;
    }
}


button {
    --btn-radius: var(--radius-xl);
}

button:disabled,
.btn--disabled {
    cursor: default;
    pointer-events: none;
    background-color: var(--btn-disabled-bg);
    border-color: var(--btn-disabled-border);
    color:var(--btn-disabled-color) !important;

    svg {
        stroke: var(--btn-disabled-color) !important;
    }

    &:focus {
        outline: none;
    }
}

/*
 * Pill
 *
*/

.pill {
    padding: var(--pill-padding);
    background: var(--pill-bg);
    border: var(--pill-border);
    border-radius: var(--pill-radius);
    font-weight: var(--pill-fw);
    font-size: var(--pill-fs);
    line-height: var(--pill-lh);
    color: var(--pill-color);
    white-space: var(--pill-white-space);
}

/*
 * Card
 *
*/

.card {
    display: var(--card-display);
    flex-direction: var(--card-flex-direction);
    gap: var(--card-gap);
    padding: var(--card-padding);
    background: var(--card-bg);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
}
