/*
 * Buttons
 *
*/

button {
    border: none;
    border-radius: var(--radius-xl);
}

.btn {
    height: 4rem;
    padding: var(--spacing-s) var(--spacing-m);
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    justify-content: space-between;
    font-size: var(--btn-fs);
    font-weight: 500;
    line-height: var(--lh);
    text-decoration: none;
    white-space: nowrap;

    &:not(button) {
        border-radius: var(--btn-radius);
    }

    svg {
        width: 1.4rem;
        height: fit-content;
        aspect-ratio: 1 / 1;
    }
}

.btn--primary {
    background: var(--btn-primary-bg);
    color: var(--btn-primary-color) !important;
    transition: ease-out background .2s;

    &:active,
    &:hover {
        background: var(--btn-primary-hover-bg);
    }

    svg {
        stroke: var(--btn-primary-color) !important;
    }
}

.btn--secondary {
    background: var(--btn-secondary-bg);
    border: 0.1rem solid var(--btn-secondary-border);
    color: var(--btn-secondary-color) !important;
    transition: ease-out all .2s;

    &:active,
    &:hover {
        background: var(--btn-secondary-hover-bg);
        border-color: var(--btn-secondary-hover-border);
    }

    svg {
        stroke: var(--btn-secondary-color) !important;
    }
}

.btn--large {
    height: 5.6rem;
    padding: var(--spacing-m) var(--spacing-2xl);
    font-size: var(--btn-fs-large);

    svg {
        Width: 2.4rem;
        height: fit-content;
        aspect-ratio: 1 / 1;
    }
}

button:disabled,
.btn--disabled {
    cursor: default;
    pointer-events: none;

    &.btn--primary {
        background: var(--btn-disabled);
    }

    &.btn--secondary {
        border-color: var(--btn-disabled);
        color: var(--btn-disabled);
    }

    &:focus {
        outline: none;
    }
}


/*
 * Pill
 *
*/

.pill {
    padding: var(--pill-padding);
    background: var(--pill-bg);
    border: var(--pill-border);
    border-radius: var(--pill-radius);
    font-weight: var(--pill-fw);
    font-size: var(--pill-fs);
    line-height: var(--pill-lh);
    color: var(--pill-color);
    white-space: nowrap;
}
