footer {
    margin-block-start: auto;
    padding-block: var(--spacing-3xl);
    background: var(--footer-bg);

    .footer_wrapper {
        display: flex;
        gap: var(--spacing-2xl);
        align-items: center;
        justify-content: space-between;
    }

    .footer_text {
        max-width: 30rem;
        font-size: var(--fs-xs);
        line-height: var(--lh-l);
    }

    .footer_social {
        display: flex;
        gap: var(--spacing-s);

        svg {
            width: 2rem;
            height: 2rem;
            stroke: var(--footer-social-icon-color);
        }
    }
}
