label {
    margin-bottom: 0.8rem;
    display: block;
    font-family: var(--font-text-family);
    font-size: var(--fs-xs);
    font-weight: 500;
    font-size: 1.4rem;
}

input,
textarea {
    width: 100%;
    padding: var(--spacing-s);
    background: var(--input-border-bg);
    border: 0.1rem solid var(--input-border-color);
    border-radius: var(--radius-xl);
    font-size: var(--fs-s);
}

textarea {
    height: 17.2rem;
    resize: none;
}
