header {
    padding-block: var(--spacing-m);

    a {
        text-decoration: none;
    }

    .header_wrapper,
    .main-nav ul,
    .option-nav ul {
        display: flex;
        align-items: center;
    }

    .header_wrapper {
        gap: var(--spacing-2xl);
    }

    .logo {
        margin-inline-end: auto;
        display: inline-flex;
        align-items: center;
        gap: 0.8rem;
        font-family: var(--font-header-bold);
        font-weight: 700;
        color: var(--color-header);

        svg {
            color: var(--tertiary);
        }
    }

    .main-nav {

        ul {
            gap: var(--spacing-2xl);
            font-family: var(--font-text-medium);
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    .option-nav {
        padding-inline-start: var(--spacing-m);
        border-inline-start: 1px solid var(--border-color-dark);

        ul {
            gap: var(--spacing-m);
        }
    }
}
