header {
    --section-padding-block: var(--header-padding-block);
    --a-text-decoration: none;
    --ul-display: var(--header-ul-display);
    --ul-align-items: var(--header-ul-align-items);
    --ul-list-style: var(--header-ul-list-style);

    inset-block-start: 0;
    width: 100%;
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    position: fixed;
    z-index: 100;

    &::before {
        content: '';
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
        background: var(--header-bg);
        box-shadow: var(--header-shadow);
        backdrop-filter: var(--header-backdrop-filter);
        pointer-events: none;
        transition: inherit;
        position: absolute;
        z-index: 2;
    }

    &.header--scrolled {
        --section-padding-block: var(--header-scrolled-padding);
        --header-bg: var(--header-scrolled-bg);
        --header-shadow: var(--header-scrolled-shadow);
        --header-backdrop-filter: var(--header-scrolled-backdrop-filter);
    }

    .header__wrapper,
    .header__nav-wrapper {
        display: flex;
        align-items: center;
    }

    .header__wrapper {
        gap: var(--spacing-l);
        position: relative;
    }

    .header__nav-wrapper {
        margin-inline-start: auto;
        position: relative;
        z-index: 3;

        @media (max-width: 63.99rem) {
            inset-block-start: var(--offcanvas-inset-block-start);
            inset-inline-end: 0;
            inset-block-end: 0;
            width: var(--offcanvas-width);
            padding: var(--offcanvas-padding);
            display: var(--offcanvas-display);
            flex-direction: var(--offcanvas-flex-direction);
            align-items: var(--offcanvas-align-items);
            gap: var(--offcanvas-gap);
            background: var(--offcanvas-background);
            backdrop-filter: var(--header-backdrop-filter);
            box-shadow: var(--shadow-m);
            transform: var(--offcanvas-transform);
            transition: var(--offcanvas-transition);
            position: var(--offcanvas-position);
        }
    }

    .logo {
        margin-inline-end: auto;
        z-index: 3;
    }

    .main-nav {
        --ul-gap: var(--header-main-nav-d-gap);
        --ul-fw: var(--header-main-nav-fw);
        --li-fs: var(--header-main-nav-fs);

        @media (max-width: 63.99rem) {
            --ul-flex-direction: var(--header-main-nav-m-flex-direction);
            --ul-align-items:  var(--header-main-nav-m-align-items);
            --ul-gap: var(--header-main-nav-m-gap);
            --li-padding: var(--header-main-nav-m-li-padding) 0;
            --li-last-child-padding: var(--header-main-nav-m-li-padding) 0;

            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
        }

        + * {
            @media (min-width: 64rem) {
                margin-inline-start: var(--spacing-m);
                padding-inline-start: var(--spacing-m);
                border-inline-start: 1px solid var(--border-color-dark);
            }

            @media (max-width: 63.99rem) {
                padding-block-start: var(--spacing-m);
                border-block-start: 1px solid var(--border-color-dark);
            }
        }
    }

    .option-nav {
        --ul-gap: var(--header-option-nav-gap);
    }

    .mobile-nav-toggle {
        margin-inline-start: auto;
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 3;

         @media (min-width: 64rem)  {
            display: none;
        }
    }
}

.nav--animate,
.nav--open {
    --offcanvas-transition: transform .3s ease-in-out;
}

.nav--open {
    --header-bg: rgb(var(--white-rgb));
    --header-shadow: var(--header-scrolled-shadow);
    --offcanvas-transform: translateX(0);

    overflow-y: clip;

    header {

        &.header--scrolled {
            --offcanvas-background: var(--header-scrolled-bg);
        }
    }

    .backdrop {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}
