.hero__wrapper,
.about__wrapper,
.skill__wrapper,
.contact__wrapper,
.education__wrapper,
.projects__wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--wrapper-gap);
	@media (min-width: 64rem)  {
		grid-template-columns: repeat(2, 1fr);
	}
}

.hero {
	min-height: 100vh;
	display: flex;
	align-items: center;

	.hero__col {

		&:first-child {
			display: flex;
			flex-direction: column;
			gap: var(--spacing-xl);

			.availability {
				width: fit-content;
				padding: var(--hero-availability-padding);
				display: inline-flex;
				gap: var(--spacing-xs);
				align-items: center;
				background: var(--hero-availability-bg);
				border-radius: var(--hero-availability-radius);
				font-size: var(--hero-availability-fs);
				font-weight: var(--hero-availability-fw);
				color: var(--hero-availability-color);
				line-height: var(--hero-availability-lh);

				&::before {
					content: '';
					width: 0.8rem;
					height: 0.8rem;
					display: block;
					background-color: var(--hero-availability-color);
					border-radius: var(--hero-availability-radius);
				}
			}

			h1 i {
				padding-inline-end: var(--spacing-xs);
				background: var(--tertiary);
				background-clip: text;
				background-image: linear-gradient(to right, var(--tertiary) 20%, var(--quaternary-dark) 100%);
				color: transparent;
			}

			b {
				font-weight: bold;
			}

			.hero__buttons {
				display: flex;
				flex-direction: column;
				gap: var(--spacing-m);
				@media (min-width: 35.5rem) {
					flex-direction: row;
				}

				.btn {
					box-shadow: var(--btn-shadow);
				}
			}
		}

		&:last-child {
			display: none;
			@media (min-width: 64rem) {
				display: flex;
				align-items: center;
			}

			> div {
				width: 100%;
				max-width: 44.8rem;
				margin-inline: auto;
				aspect-ratio: 1 / 1;
				position: relative;
			}

			.hero-element {
				position: absolute;

				&:is(:nth-child(1), :nth-child(4)) {
					@media (prefers-reduced-motion: reduce) {
						animation: none !important;
					}
				}

				&:is(:nth-child(2), :nth-child(3)) {
					padding: var(--hero-element-padding);
					border-radius: var(--hero-element-radius);
					box-shadow: var(--hero-element-shadow);
					transition: var(--hero-element-transform);
					will-change: transform;
					@media (prefers-reduced-motion: reduce) {
						transition: none !important;
					}
				}

				&:nth-child(1) {
					top: -1.6rem;
					left: 4.8rem;
					width: 6.4rem;
					aspect-ratio: 1 / 1;
					background: var(--hero-element-1-bg);
					border-radius: var(--hero-element-radius);
					box-shadow: var(--hero-element-shadow-soft);
					animation: bounce 4s infinite;
					will-change: transform;
				}

				&:nth-child(2) {
					top: 0;
					right: 4rem;
					width: 25.6rem;
					height: 32rem;
					background: var(--hero-element-2-bg);
					transform: rotate(6deg);
					transform-origin: bottom right;

					&:hover {
						transform: rotate(12deg);
					}

					> div {

						&:nth-child(1) {
							height: 12.8rem;
							margin-block-end: var(--spacing-m);
							background: var(--hero-element-2-child-1-bg);
							border-radius: var(--hero-element-2-child-1-radius);
						}

						&:nth-child(2),
						&:nth-child(3) {
							height: 1.6rem;
							background: var(--hero-element-2-child-2-bg);
							border-radius: var(--hero-element-radius-max);
						}

						&:nth-child(2) {
							width: 75%;
							margin-block-end: var(--spacing-s);
						}

						&:nth-child(3) {
							width: 50%;
							margin-block-end: var(--spacing-xl);
						}

						&:nth-child(4) {
							display: flex;
							gap: var(--spacing-xs);

							span {
								width: 3.2rem;
								height: 3.2rem;
								border-radius: var(--hero-element-radius-max);

								&:nth-child(1) {
									background: var(--hero-element-2-child-4-grandchild-1-bg);

								}

								&:nth-child(2) {
									background: var(--hero-element-2-child-4-grandchild-2-bg);
								}
							}
						}
					}
				}

				&:nth-child(3) {
					bottom: 4rem;
					left: 0;
					width: 28.8rem;
					height: 25.6rem;
					background: var(--hero-element-3-bg);
					backdrop-filter: blur(4px);
					transform: rotate(-3deg);
					transform-origin: top left;

					&:hover {
						transform: rotate(-6deg);
					}

					> div {
						border-radius: var(--hero-element-radius-max);

						&:nth-child(1) {
							margin-block-end: var(--spacing-xl);
							display: flex;
							align-items: center;
							gap: var(--spacing-m);

							> div {
								border-radius: var(--hero-element-radius-max);

								&:nth-child(1) {
									width: 4.8rem;
									aspect-ratio: 1 / 1;
									background: linear-gradient(125deg, rgb(var(--tertiary-rgb)) 20%, rgb(var(--quaternary-dark-rgb)) 100%);
								}

								&:nth-child(2) {
									width: 100%;

									> div {

										&:nth-child(1),
										&:nth-child(2) {
											width: 100%;
											border-radius: var(--hero-element-radius-max);
										}

										&:nth-child(1) {
											max-width: 9.6rem;
											height: 1.6rem;
											margin-block-end: var(--spacing-xs);
											background: var(--color-zinc-200);
										}

										&:nth-child(2) {
											max-width: 6.4rem;
											height: 1.2rem;
											background: var(--color-zinc-100);
										}

									}
								}
							}
						}

						&:nth-child(2),
						&:nth-child(3),
						&:nth-child(4) {
							width: 100%;
							height: 1.2rem;
							background: var(--color-zinc-100);


							&:not(:last-child) {
								margin-block-end: var(--spacing-s);
							}
						}

						&:nth-child(4) {
							width: 75%;
						}
					}
				}

				&:nth-child(4) {
					right: 0;
					bottom: 9.6rem;
					width: 4.8rem;
					aspect-ratio: 1 / 1;
					background: var(--hero-element-4-bg);
					border-radius: var(--hero-element-radius-max);
					box-shadow: var(--hero-element-shadow-soft);
					animation: bounce 5s 1s infinite;
					will-change: transform;
				}
			}
		}
	}
}

.about {

	.about__col {
		display: flex;
		flex-direction: column;

		&:first-child {
			gap: var(--spacing-xl);

			img {
				aspect-ratio: 16 / 7.5;
				border-radius: var(--about-item-img-radius);
				box-shadow: var(--about-item-img-shadow);
				object-fit: cover;
			}
		}

		&:last-child {
			gap: var(--spacing-2xl);

			.about-item {
				--card-display: var(--about-item-display);
				--card-gap: var(--about-item-gap);

				.about-item__header {
					padding: var(--about-item-header-padding);
					background: var(--about-item-header-bg);
					border-radius: var(--about-item-header-radius);
				}

				.about-item__body {

					h3 {
						margin-block-end: var(--spacing-s);
						font-size: var(--about-item-body-h-fs);
						line-height: var(--about-item-body-h-lh) ;
					}

					p {
						font-size: var(--about-item-body-fs);
						line-height: var(--about-item-body-lh);
					}
				}
			}
		}
	}
}

.skill {

	.skill__wrapper {
		--wrapper-gap: var(--spacing-2xl);
		@media (min-width: 64rem) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.skill-item {
		--card-display: var(--skill-item-display);
		--card-flex-direction: var(--skill-item-direction);
		--card-gap: var(--skill-item-gap);
		--card-bg: var(--skill-item-bg);

		.pill {
			box-shadow: var(--shadow-s);
		}
	}

	.skill-item__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--spacing-m);

		.skill-svg__wrapper {
			padding: var(--spacing-s);
			border-radius: var(--radius-xl);
			background-color: var(--skill-item-svg-bg-color);
			box-shadow: var(--skill-item-svg-shadow);

			svg {
				height: 2rem;
				width: 2rem;
			}
		}
	}

	.skill-item__body {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-xs);
	}
}

.experience {

	.experience__wrapper {
		max-width: 87rem;
		margin-inline: auto;
		display: flex;
		flex-direction: column;

		.experience-item {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			gap: var(--spacing-3xl);
			position: relative;

			h3 {
				font-size: var(--fs-xl);
				font-weight: 700;
			}

			p {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: var(--spacing-m);
				font-size: var(--fs-s);

				span {
					display: flex;
					align-items: center;
					gap: calc(var(--spacing-xs) - 0.4rem);
					color: var(--experience-location-items-color);

					svg {
						width: 1.4rem;
						height: 1.4rem;
						stroke: var(--experience-location-items-color);
					}
				}
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: var(--spacing-s);

				li {
					display: flex;
					gap: var(--spacing-s);
					font-size: var(--fs-s);

					&::before {
						content: "\2726";
						color: var(--experience-li-item-color);
					}
				}
			}

			&:not(:last-of-type) {
				padding-block-end: var(--spacing-3xl);
			}

			.experience-item__date {
				padding-block-start: 4.4rem;
				display: flex;
				flex-shrink: 0;
				justify-content: flex-end;
				font-size: var(--fs-xs);
				font-weight: 600;
				line-height: var(--lh);
				color: var(--experience-date-font-color);
				white-space: nowrap;
				@media (min-width: 48rem)  {
					width: 12rem;
				}

				p {
					display: none;
					@media (min-width: 48rem)  {
						display: block;
					}
				}
			}

			.experience-item__line {
				height: 100%;
				left: 0;
				position: absolute;
				@media (min-width: 48rem)  {
					left: 13.8rem;
				}

				&::before {
					content: '';
					top: 4.5rem;
					width: 1.2rem;
					height: 1.2rem;
					background-color: var(--white);
					border: 0.2rem solid var(--experience-date-font-color);
					border-radius: var(--radius-max);

					position: absolute;
					z-index: 1;
				}

				&::after {
					content: '';
					right: -0.6rem;
					width: 0.1rem;
					height: 100%;
					display: block;
					background-color: var(--color-zinc-200);
					position: absolute;
				}
			}

			.experience-item__content {
				--card-display: var(--experience-item-display);
				--card-flex-direction: var(--experience-item-direction);
				--card-gap: var(--experience-item-gap);
				flex-basis: 100%;
			}

		}

		.experience-header__wrapper {
			gap: var(--spacing-xs);
		}
	}
}

.projects {

	a {
		display: flex;
		text-decoration: none;
	}

	.project-item {
		--pill-padding: var(--project-item-pill-padding);
		--pill-fs: var(--project-item-pill-fs);
		--card-padding: ;
		--card-display: var(--project-item-display);
		--card-flex-direction: var(--project-item-direction);
		--card-bg: var(--project-item-bg);
		overflow: clip;

		&:hover {

			figure {

				img {
					transform: scale(1.05);
				}
			}
		}

		figure {
			flex-shrink: 0;
			position: relative;

			img {
				aspect-ratio: 16 / 7.5;
				object-fit: cover;
				transition: transform .3s cubic-bezier(.4, 0, .2, 1);
			}

			figcaption {
				top: 1.6rem;
				left: 1.6rem;
				position: absolute;
			}
		}

		.project-item__body {
			height: 100%;
			padding: var(--spacing-2xl);
			display: flex;

			h3 {
				margin-block-end: var(--spacing-xl);
				font-size: var(--fs-xl);
				font-weight: 700;
				line-height: var(--lh-m);

				&:has(svg) {
					display: flex;
					justify-content: space-between;

					span {
						padding: var(--spacing-xs);
						background: var(--secondary);
						border: 0.1rem solid var(--border-color-dark);
						border-radius: var(--radius-max);

						svg {
							height: 1.4rem;
							width: 1.4rem;
							stroke: var(--color-zinc-400);
						}
					}
				}
			}

			p {
				&:not(:last-child) {
					flex-grow: 1;
					margin-block-end: var(--spacing-2xl);
				}
			}

			.project-item__body-wrapper {
				padding-bottom: var(--spacing-xl);
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid var(--border-color-dark);
			}
		}

		.project-item__footer {
			margin-block-start: auto;
			padding: 0 var(--spacing-xl) var(--spacing-2xl) var(--spacing-2xl);
			display: flex;
			flex-wrap: wrap;
			gap: var(--spacing-xs);
		}
	}
}

.education {

	.education__wrapper {
		--wrapper-gap: var(--spacing-2xl);
	}

	h3 {
		font-size: 1.6rem;
	}

	p {
		font-size: 1.4rem;
	}

	.education-item {
		--card-display: var(--education-item-display);
		--card-flex-direction: var(--education-item-direction);
		--card-gap: var(--education-item-gap);

		.education-item__header {
			display: flex;
			align-self: center;

			div {
				background-color: var(--highlight-bg);
				border-radius: var(--radius-max);
				padding: var(--spacing-m);

				svg {
					height: 3.2rem;
					width: 3.2rem;
				}
			}
		}

		.education-item__body {

			.education-item__body-wrapper {
				text-align: center;
			}
		}

		.education-item__footer {
			margin-block-start: auto;
			display: flex;
			justify-content: space-between;
			border-top: 0.1rem solid var(--color-zinc-100);

			p {
				display: flex;
				flex-direction: row;
				font-size: 1.4rem;
				padding-block-start: var(--spacing-s);

				&:last-child {
					display: flex;
					align-items: center;
					gap: var(--spacing-xs);

					svg {
						height: 1.4rem;
						width: 1.4rem;
					}
				}
			}
		}
	}
}

.contact {

	.contact__wrapper {
		--wrapper-gap: var(--spacing-3xl);
	}

	.contact__col {
		display: flex;
	}

	.contact-info,
	.contact-form {
		padding: var(--contact-padding);
		border-radius: var(--contact-radius);

	}

	.contact-info {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-xl);
		background: var(--contact-info-bg-color);

		h4,
		a {
			&:has(svg) {
				display: flex;
				align-items: center;
				gap: var(--spacing-m);
			}
		}

		h4 {
			font-size: var(--contact-h-fs);
			line-height: var(--contact-h-lh);
		}

		p {
			font-size: var(--contact-fs);
			line-height: var(--contact-lh);
		}
	}

	.contact-form {
		background: var(--contact-form-bg-color);
		border: var(--contact-border);

		.btn {
			width: 100%;
			justify-content: center;
		}
	}
}
