:root {
    --black: #000000;
    --white: #ffffff;
    --red: #cf1a43;
    --yellow: #f0c000;
    --green: #6aa029;
    --blue: #005fcc;
    --black-rgb: 0, 0, 0;
    --white-rgb: 255, 255, 255;
    --red-rgb: 207, 26, 67;
    --yellow-rgb: 240, 192, 0;
    --green-rgb: 106, 160, 41;
    --blue-rgb: 0, 95, 204;

    --color-violet-50: #f5f3ff;
    --color-violet-100: #ede9fe;
    /* --color-violet-200: #ddd6fe; */
    /* --color-violet-300: #c4b5fd; */
    /* --color-violet-400: #a685ff; */
    --color-violet-500: #8b5cf5;
    --color-violet-600: #7c3aed;
    /* --color-violet-700: #6d28d9; */
    /* --color-violet-800: #5d0ec0; */
    /* --color-violet-900: #4d179a; */
    /* --color-violet-950: #2f0d68; */
    --color-violet-50-rgb: 245, 243, 255;
    --color-violet-100-rgb: 237, 233, 254;
    /* --color-violet-200-rgb: 221, 214, 254; */
    /* --color-violet-300-rgb: 196, 181, 253; */
    /* --color-violet-400-rgb: 166, 133, 255; */
    --color-violet-500-rgb: 139, 92, 246;
    --color-violet-600-rgb: 124, 58, 237;
    /* --color-violet-700-rgb: 109, 40, 217; */
    /* --color-violet-800-rgb: 93, 14, 192; */
    /* --color-violet-900-rgb: 77, 23, 154; */
    /* --color-violet-950-rgb: 47, 13, 104; */

    /* --color-rose-50: #fff1f2; */
    /* --color-rose-100: #ffe4e6; */
    /* --color-rose-200: #ffccd3; */
    /* --color-rose-300: #ffa2ae; */
    --color-rose-400: #fb7185;
    --color-rose-500: #f43f5e;
    /* --color-rose-600: #e70044; */
    /* --color-rose-700: #c20039; */
    /* --color-rose-800: #a30037; */
    /* --color-rose-900: #8b0836; */
    /* --color-rose-950: #4d0218; */
    /* --color-rose-50-rgb: 255, 241, 242; */
    /* --color-rose-100-rgb: 255, 228, 230; */
    /* --color-rose-200-rgb: 255, 204, 211; */
    /* --color-rose-300-rgb: 255, 162, 174; */
    --color-rose-400-rgb: 251, 113, 133;
    --color-rose-500-rgb: 244, 63, 94;
    /* --color-rose-600-rgb: 231, 0, 68; */
    /* --color-rose-700-rgb: 194, 0, 57; */
    /* --color-rose-800-rgb: 163, 0, 55; */
    /* --color-rose-900-rgb: 139, 8, 54; */
    /* --color-rose-950-rgb: 77, 2, 24; */

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f4f4f5;
    --color-zinc-200: #e4e4e7;
    --color-zinc-300: #d4d4d8;
    --color-zinc-400: #a1a1aa;
    /* --color-zinc-500: #71717b; */
    --color-zinc-600: #52525c;
    /* --color-zinc-700: #3f3f46; */
    /* --color-zinc-800: #27272a; */
    --color-zinc-900: #18181b;
    /* --color-zinc-950: #09090b; */
    /* --color-zinc-50-rgb: 250, 250, 250; */
    /* --color-zinc-100-rgb: 244, 244, 245; */
    /* --color-zinc-200-rgb: 228, 228, 231; */
    /* --color-zinc-300-rgb: 212, 212, 216; */
    /* --color-zinc-400-rgb: 161, 161, 170; */
    /* --color-zinc-500-rgb: 113, 113, 123; */
    /* --color-zinc-600-rgb: 82, 82, 92; */
    /* --color-zinc-700-rgb: 63, 63, 70; */
    /* --color-zinc-800-rgb: 39, 39, 42; */
    /* --color-zinc-900-rgb: 24, 24, 27; */
    /* --color-zinc-950-rgb: 9, 9, 11; */

    --primary: var(--black);
    --secondary: var(--white);
    --tertiary: var(--color-violet-600);
    --tertiary-bright: var(--color-violet-100);
    --tertiary-brighter: var(--color-violet-50);
    --quaternary: var(--color-rose-400);
    --quaternary-dark: var(--color-rose-500);

    --primary-rgb: var(--black-rgb);
    --secondary-rgb: var(--white-rgb);
    --tertiary-rgb: var(--color-violet-600-rgb);
    --tertiary-bright-rgb: var(--color-violet-100-rgb);
    --tertiary-brighter-rgb: var(--color-violet-50-rgb);
    --quaternary-rgb: var(--color-rose-400-rgb);
    --quaternary-dark-rgb: var(--color-rose-500-rgb);

    --focus-outline-color: var(--blue);
    --spacing: 0.2rem; /* 2px */
    --spacing-xxs: 0.4rem; /* 4px */
    --spacing-xs: 0.8rem; /* 8px */
    --spacing-s: 1.2rem; /* 12px */
    --spacing-m: 1.6rem; /* 16px */
    --spacing-l: 2rem; /* 20px */
    --spacing-xl: 2.4rem; /* 24px */
    --spacing-2xl: 3.2rem; /* 32px */
    --spacing-3xl: 4rem; /* 40px */

    --font-header-family: 'Playfair Display', 'Times New Roman', Times, serif;
    --font-text-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --fs: 1.2rem; /* 12px */
    --fs-xs: 1.4rem; /* 14px */
    --fs-s: 1.6rem; /* 16px */
    --fs-m: 1.8rem; /* 18px */
    --fs-l: 2rem; /* 20px */
    --fs-xl: 2.4rem; /* 24px */
    --fs-2xl: 4.8rem; /* 48px */
    --fs-3xl: 7.2rem; /* 72px */

    --lh: 1; /* 100% */
    --lh-xs: 1.22; /* 122% */
    --lh-s: 1.33; /* 133% */
    --lh-m: 1.4; /* 140% */
    --lh-l: 1.43; /* 143% */
    --lh-xl: 1.5; /* 150% */
    --lh-2xl: 1.53; /* 153% */
    --lh-3xl: 1.63; /* 163% */

    --radius-xs: 0.2rem; /* 2px */
    --radius-s: 0.4rem; /* 4px */
    --radius-m: 0.6rem; /* 6px */
    --radius-l: 0.8rem; /* 8px */
    --radius-xl: 1.2rem; /* 12px */
    --radius-2xl: 1.6rem; /* 16px */
    --radius-3xl: 2.4rem; /* 24px */
    --radius-max: 999.9rem;

    --border-color: var(--color-zinc-100);
    --border-color-dark: var(--color-zinc-200);

    --shadow-color-s: rgb(var(--primary-rgb), .05);
    --shadow-color-l: rgb(var(--primary-rgb), .1);
    --shadow-color-2xl: rgb(var(--primary-rgb), .25);

    --shadow-s-base-1: 0 1px 2px 0;
    --shadow-m-base-1: 0 4px 6px -1px;
    --shadow-m-base-2: 0 2px 4px -2px;
    --shadow-l-base-1: 0 10px 15px -3px;
    --shadow-l-base-2: 0 4px 6px -4px;
    --shadow-xl-base-1: 0 20px 25px -5px;
    --shadow-xl-base-2: 0 8px 10px -6px;
    --shadow-2xl-base-1: 0 25px 50px -12px;

    --shadow-s: var(--shadow-s-base-1) var(--shadow-color-s);
    --shadow-m: var(--shadow-m-base-1) var(--shadow-color-l), var(--shadow-m-base-2) var(--shadow-color-l);
    --shadow-l: var(--shadow-l-base-1) var(--shadow-color-l), var(--shadow-l-base-2) var(--shadow-color-l);
    --shadow-xl: var(--shadow-xl-base-1) var(--shadow-color-l), var(--shadow-xl-base-2) var(--shadow-color-l);
    --shadow-2xl: var(--shadow-2xl-base-1) var(--shadow-color-2xl);

    --body-font-family: var(--font-text-family);
    --body-font-size: clamp(var(--fs-xs), 1.2182rem + 0.5682vw, var(--fs-m));
    --body-font-weight: 300;
    --body-line-height: var(--lh-3xl);
    --body-color: var(--p-color);
    --body-bg: var(--color-zinc-50);

    --h-fw: 600;
    --h-color: var(--color-zinc-900);
    --p-color: var(--color-zinc-600);
    --preheader-color: var(--tertiary);

    --a-color: var(--p-color);
    --a-hover-color: var(--tertiary);

    --li-fs: clamp(var(--fs-xs), 1.3091rem + 0.2841vw, var(--fs-s));
    --li-lh: var(--lh-3xl);
    --li-before-content: ✦;
    --li-before-fs: var(--fs);
    --li-before-color: var(--tertiary);

    --svg-collor: var(--tertiary);

    --input-bg: var(--color-zinc-50);
    --input-checked-bg: var(--tertiary-brighter);
    --input-border-color: var(--border-color-dark);

    --btn-height: 4rem;
    --btn-padding: var(--spacing-s) var(--spacing-m);
    --btn-display: flex;
    --btn-gap: var(--spacing-xs);
    --btn-align-items: center;
    --btn-justify-content: space-between;
    --btn-radius: var(--radius-max);
    --btn-shadow: var(--shadow-l);
    --btn-transition: ease-out background-color .2s, ease-out border-color .2s;
    --btn-fs: clamp(var(--fs), 1.1091rem + 0.2841vw, var(--fs-xs));
    --btn-fw: 500;
    --btn-lh: var(--lh);
    --btn-text-decoration: none;
    --btn-white-space: nowrap;
    --btn-svg-dimension: 1.4rem;

    --btn-large-height: 5.6rem;
    --btn-large-padding: var(--spacing-m) var(--spacing-2xl);
    --btn-large-fs: clamp(var(--fs-xs), 1.3091rem + 0.2841vw, var(--fs-s));

    --btn-primary-bg: var(--primary);
    --btn-primary-border: 0.1rem solid var(--primary);
    --btn-primary-color: var(--secondary);
    --btn-primary-hover-bg: var(--tertiary);
    --btn-primary-hover-border: var(--tertiary);

    --btn-secondary-bg: var(--secondary);
    --btn-secondary-border: 0.1rem solid var(--border-color-dark);
    --btn-secondary-color: var(--h-color);
    --btn-secondary-hover-bg: var(--tertiary-brighter);
    --btn-secondary-hover-border: var(--tertiary);

    --btn-disabled-bg: var(--color-zinc-200);
    --btn-disabled-border: var(--color-zinc-200);
    --btn-disabled-color: var(--color-zinc-400);

    --pill-padding: calc(var(--spacing-xs) + 0.2rem);
    --pill-bg: var(--secondary);
    --pill-border: 0.1rem solid var(--border-color-dark);
    --pill-radius: var(--radius-max);
    --pill-shadow: var(--shadow-s);
    --pill-fs: clamp(var(--fs), 1.1091rem + 0.2841vw, var(--fs-xs));
    --pill-fw: 500;
    --pill-lh: var(--lh);
    --pill-color: var(--p-color);
    --pill-white-space: nowrap;

    --card-padding: ;
    --card-display: flex;
    --card-direction: column;
    --card-gap: ;
    --card-bg: var(--secondary);
    --card-border: 0.1rem solid var(--border-color);
    --card-radius: var(--radius-2xl);
    --card-shadow: var(--shadow-s);
    --card-transition: border-color .15s cubic-bezier(.4, 0, .2, 1), box-shadow .15s cubic-bezier(.4, 0, .2, 1);
    --card-fs: clamp(var(--fs-xs), 1.3091rem + 0.2841vw, var(--fs-s));
    --card-lh: var(--lh-3xl);
    --card-color: var(--p-color);
    --card-h-fs: clamp(var(--fs-l), 1.8182rem + 0.5682vw, var(--fs-xl));
    --card-h-fw: var(--h-fw);
    --card-h-lh: var(--lh);
    --card-a-gap: var(--spacing-xs);
    --card-icon-padding: ;
    --card-icon-bg: ;
    --card-icon-border: ;
    --card-icon-radius: ;
    --card-icon-shadow: ;
    --card-icon-transform: scale(1.1);
    --card-icon-transition: transform .15s cubic-bezier(.4, 0, .2, 1);
    --card-icon-svg-width: 2.4rem;
    --card-icon-svg-height: 2.4rem;
    --card-icon-svg-color: var(--svg-collor);
    --card-figure-flex-shrink: 0;
    --card-figure-img-aspect-ratio: 16 / 7.5;
    --card-figure-img-object-fit: cover;
    --card-figure-img-transition: transform .3s cubic-bezier(.4, 0, .2, 1);
    --card-figure-figcaption-inset: 1.6rem;
    --card-header-padding: var(--spacing-2xl);
    --card-header-display: ;
    --card-header-direction: ;
    --card-header-gap: var(--spacing-m);
    --card-header-align-items: center;
    --card-header-justify-content: ;
    --card-header-wrap: wrap;
    --card-header-bg: ;
    --card-header-border: ;
    --card-header-border-radius: ;
    --card-body-padding: ;
    --card-body-display: flex;
    --card-body-bg: ;
    --card-body-wrapper-h-margin-block-end: var(--spacing-s);
    --card-body-wrapper-p-margin-block-end: var(--spacing-xl);
    --card-body-wrapper-padding: var(--spacing-2xl);
    --card-body-wrapper-display: ;
    --card-body-wrapper-direction: ;
    --card-body-wrapper-gap: ;
    --card-body-wrapper-align-items: ;
    --card-body-wrapper-justify-content: ;
    --card-body-wrapper-wrap: wrap;
    --card-body-wrapper-border-block-start: ;
    --card-body-wrapper-border-block-end: ;
    --card-body-wrapper-text-align: ;
    --card-footer-margin-block-start: auto;
    --card-footer-padding: var(--spacing-2xl);
    --card-footer-display: ;
    --card-footer-direction: ;
    --card-footer-gap: ;
    --card-footer-align-items: ;
    --card-footer-justify-content: ;
    --card-footer-flex-shrink: 0;
    --card-footer-wrap: wrap;
    --card-footer-bg: ;
    --card-footer-border: ;
    --card-footer-svg-width: 1.6rem;
    --card-footer-svg-height: 1.6rem;

    --splide-track-margin-inline: ;
    --splide-track-padding-block: ;
    --splide-track-padding-inline: ;
    --splide-list-gap: var(--spacing-2xl);
    --splide-arrow-position: -1rem;
    --splide-arrow-size: 3.6rem;
    --splide-arrow-opacity: .7;
    --splide-arrow-svg-size: ;
    --splide-arrow-bg: var(--tertiary);
    --splide-arrow-svg-color: var(--secondary);
    --splide-pagination-block-start: ;
    --splide-pagination-block-end: uset;
    --splide-pagination-inline-start: 0;
    --splide-pagination-inline-end: 0;
    --splide-pagination-margin: ;
    --splide-pagination-padding: var(--spacing-xs) var(--spacing-xs) 0 var(--spacing-xs);
    --splide-pagination-display: flex;
    --splide-pagination-flex-wrap: wrap;
    --splide-pagination-gap: var(--spacing-xs);
    --splide-pagination-align-items: center;
    --splide-pagination-justify-content: center;
    --splide-pagination-position: relative;
    --splide-pagination-page-size: 0.8rem;
    --splide-pagination-page-bg: var(--tertiary-bright);
    --splide-pagination-page-active-bg: var(--tertiary);

    --header-padding: var(--spacing-xl);
    --header-scrolled-padding: var(--spacing-m);
    --header-scrolled-bg: rgb(var(--white-rgb), 0.8);
    --header-scrolled-shadow: var(--shadow-s);

    --highlight-gap: var(--spacing-xs);
    --highlight-bg: var(--tertiary-bright);
    --highlight-radius: var(--radius-max);
    --highlight-fs: clamp(var(--fs), 1.1091rem + 0.2841vw, var(--fs-xs));
    --highlight-fw: 500;
    --highlight-color: var(--tertiary);
    --highlight-lh: var(--lh);
    --highlight-svg-size: var(--highlight-fs);

    --wrapper-row-gap: calc(var(--spacing) * 32);
    --wrapper-column-gap: calc(var(--spacing) * 32);

    --hero-availability-padding: var(--spacing-xxs) var(--spacing-s);
    --hero-availability-bg: var(--highlight-bg);
    --hero-availability-radius: var(--highlight-radius);
    --hero-availability-fs: var(--highlight-fs);
    --hero-availability-fw: var(--highlight-fw);
    --hero-availability-lh: var(--highlight-lh);
    --hero-availability-color: var(--highlight-color);
    --hero-element-padding: var(--spacing-xl);
    --hero-element-radius: var(--radius-2xl);
    --hero-element-radius-max: var(--radius-max);
    --hero-element-shadow: var(--shadow-2xl);
    --hero-element-shadow-soft: var(--shadow-l);
    --hero-element-transform: transform .5s cubic-bezier(.4, 0, .2, 1);
    --hero-element-1-bg: var(--tertiary);
    --hero-element-2-bg: var(--secondary);
    --hero-element-2-child-1-bg: var(--color-zinc-100);
    --hero-element-2-child-1-radius: var(--radius-xl);
    --hero-element-2-child-2-bg: var(--color-zinc-200);
    --hero-element-2-child-4-grandchild-1-bg: rgb(var(--tertiary-rgb), .1);
    --hero-element-2-child-4-grandchild-2-bg: rgb(var(--quaternary-rgb), .1);
    --hero-element-3-bg: rgb(var(--secondary-rgb), .9);
    --hero-element-3-child-1-grandchild-1-bg: linear-gradient(125deg, var(--tertiary) 20%, var(--quaternary-dark) 100%);
    --hero-element-3-child-1-grandchild-2-bg: var(--color-zinc-100);
    --hero-element-3-child-1-grandchild-3-bg: var(--color-zinc-100);
    --hero-element-4-bg: var(--quaternary);

    --about-wrapper-gap: var(--spacing-2xl);
    --about-item-padding: var(--spacing-2xl);
    --about-item-direction: row;
    --about-item-gap: var(--spacing-2xl);
    --about-item-card-icon-padding: var(--spacing-s);
    --about-item-card-icon-bg: var(--highlight-bg);
    --about-item-card-icon-radius: var(--radius-xl);
    --about-item-header-display: flex;
    --about-item-header-align-items: stretch;
    --about-item-body-h-fs: clamp(var(--fs-m), 1.7091rem + 0.2841vw, var(--fs-l));
    --about-item-body-h-lh: var(--lh-m);
    --about-item-img-radius: var(--radius-2xl);
    --about-item-img-shadow: var(--shadow-xl);

    --skills-wrapper-gap: var(--spacing-3xl);
    --skill-item-padding: var(--spacing-2xl);
    --skill-item-gap: var(--spacing-xl);
    --skill-item-bg: var(--color-zinc-50);
    --skill-item-h-fs: clamp(var(--fs-s), 1.5091rem + 0.2841vw, var(--fs-m));
    --skill-item-h-lh: var(--lh-2xl);
    --skill-item-icon-padding: var(--spacing-s);
    --skill-item-icon-bg: var(--secondary);
    --skill-item-icon-border: 0.1rem solid var(--border-color);
    --skill-item-icon-radius: var(--radius-xl);
    --skill-item-icon-shadow: var(--shadow-s);
    --skill-item-icon-svg-width: 2rem;
    --skill-item-icon-svg-height: 2rem;
    --skill-item-header-display: flex;
    --skill-item-header-gap: var(--spacing-m);
    --skill-item-header-align-items: center;
    --skill-item-footer-display: flex;
    --skill-item-footer-gap: var(--spacing-xs);
    --skill-item-footer-align-items: center;
    --skill-item-hover-border: 0.1rem solid var(--tertiary-bright);

    --experience-wrapper-max-w: 87rem;
    --experience-item-display: flex;
    --experience-item-gap: clamp(2.8rem, 1.3714rem + 4.4643vw, 4.8rem);
    --experience-item-timepoint-padding: calc(var(--spacing) * 22);
    --experience-item-timepoint-before-width: 1.2rem;
    --experience-item-timepoint-before-height: 1.2rem;
    --experience-item-timepoint-before-bg: var(--secondary);
    --experience-item-timepoint-before-border: 0.2rem solid var(--tertiary);
    --experience-item-timepoint-before-radius: var(--radius-max);
    --experience-item-timepoint-before-shadow: var(--shadow-s);
    --experience-item-timepoint-after-width: 0.1rem;
    --experience-item-timepoint-after-height: 100%;
    --experience-item-timepoint-after-color: var(--border-color-dark);
    --experience-item-date-padding: calc(var(--spacing) * 21);
    --experience-item-date-display: flex;
    --experience-item-date-flex-shrink: 0;
    --experience-item-date-justify-content: flex-end;
    --experience-item-date-fs: var(--fs-xs);
    --experience-item-date-fw: 500;
    --experience-item-date-color: var(--tertiary);
    --experience-item-date-lh: var(--lh);
    --experience-item-card-h-fs: clamp(var(--fs-l), 1.8182rem + 0.5682vw, var(--fs-xl));
    --experience-item-card-h-fw: 700;
    --experience-item-card-h-lh: var(--lh-s);
    --experience-item-card-workplace-display: flex;
    --experience-item-card-workplace-gap: var(--spacing-m);
    --experience-item-card-workplace-align-items: center;
    --experience-item-card-workplace-point-fs: clamp(var(--fs-xs), 1.3091rem + 0.2841vw, var(--fs-s));
    --experience-item-card-workplace-point-color: var(--color-zinc-900);
    --experience-item-card-workplace-icon-width: 1.4rem;
    --experience-item-card-workplace-icon-height: 1.4rem;
    --experience-item-card-workplace-icon-color: var(--p-color);
    --experience-item-card-workplace-city-fs: clamp(var(--fs), 1.1091rem + 0.2841vw, var(--fs-xs));
    --experience-item-card-workplace-city-fw: 400;

    --project-wrapper-row-gap: var(--spacing-3xl);
    --project-item-bg: var(--color-zinc-50);
    --project-item-fs: clamp(var(--fs-xs), 1.3091rem + 0.2841vw, var(--fs-s));
    --project-item-lh: var(--lh-3xl);
    --project-item-h-fs: clamp(var(--fs-l), 1.8182rem + 0.5682vw, var(--fs-xl));
    --project-item-h-lh: var(--lh);
    --project-item-icon-padding: var(--spacing-xs);
    --project-item-icon-bg: var(--secondary);
    --project-item-icon-border: 0.1rem solid var(--border-color-dark);
    --project-item-icon-radius: var(--radius-max);
    --project-item-icon-svg-width: 1.4rem;
    --project-item-icon-svg-height: 1.4rem;
    --project-item-icon-svg-color: var(--color-zinc-400);
    --project-item-pill-padding: var(--spacing-xxs) calc(var(--spacing) * 5);
    --project-item-pill-fs: var(--fs);
    --project-item-body-padding: 0 var(--spacing-2xl);
    --project-item-body-wrapper-padding: var(--spacing-2xl) 0;
    --project-item-body-wrapper-display: flex;
    --project-item-body-wrapper-direction: column;
    --project-item-body-wrapper-border-block-end: 0.1rem solid var(--border-color-dark);
    --project-item-footer-display: flex;
    --project-item-footer-gap: var(--spacing-xs);

    --education-wrapper-gap: var(--spacing-3xl);
    --education-item-padding: var(--spacing-2xl);
    --education-item-bg: var(--secondary);
    --education-item-fs: clamp(var(--fs), 1.1091rem + 0.2841vw, var(--fs-xs));
    --education-item-lh: var(--lh-m);
    --education-item-h-fs: clamp(var(--fs-s), 1.5091rem + 0.2841vw, var(--fs-m));
    --education-item-h-lh: var(--lh-2xl);
    --education-item-icon-padding: var(--spacing-m);
    --education-item-icon-bg: var(--highlight-bg);
    --education-item-icon-radius: var(--radius-max);
    --education-item-icon-svg-width: 3.2rem;
    --education-item-iconsvg-height: 3.2rem;
    --education-item-header-display: flex;
    --education-item-header-justify-content: center;
    --education-item-body-wrapper-padding: var(--spacing-xl) 0;
    --education-item-body-wrapper-border-block-end: 0.1rem solid var(--border-color-dark);
    --education-item-body-wrapper-text-align: center;
    --education-item-footer-padding: var(--spacing-xl) 0 0 0;
    --education-item-footer-display: flex;
    --education-item--footer-gap: var(--spacing-m);
    --education-item-footer-footer-align-items: center;
    --education-item-footer-justify-content: space-between;
    --education-item-footer--highlight-gap: var(--spacing-xxs);
    --education-item-footer--highlight-size: 1.6rem;

    --education-splide-track-margin-inline: calc(-1 * var(--spacing-xs));
    --education-splide-track-padding-block: 0 var(--spacing-xs);
    --education-splide-track-padding-inline: var(--spacing-xs);
    --education-slider-arrow-bg: var(--tertiary);
    --education-slider-arrow-storke: var(--secondary);

    --contact-wrapper-gap: var(--spacing-3xl);
    --contact-item-padding: var(--spacing-2xl);
    --contact-item-icon-padding: var(--spacing-s);
    --contact-item-icon-bg: var(--secondary);
    --contact-item-icon-border: 0.1rem solid var(--border-color-dark);
    --contact-item-icon-radius: var(--radius-max);
    --contact-item-icon-svg-width: 2rem;
    --contact-item-icon-svg-height: 2rem;
    --contact-item-header-padding: 0 0 var(--spacing-xl) 0;
    --contact-item-header-display: flex;
    --contact-item-header-gap: var(--spacing-m);
    --contact-item-header-align-items: center;
    --contact-item-header-border: 0.1rem solid var(--border-color-dark);
    --contact-item-footer-padding: var(--spacing-xl) 0 0 0;
    --contact-item-footer-border: 0.1rem solid var(--border-color-dark);
    --contact-item-info-card-bg: var(--color-zinc-100);
    --contact-item-info-card-body-wrapper-padding: var(--spacing-xl) 0 0 0;
    --contact-item-form-card-body-wrapper-padding: 0 0 var(--spacing-xl) 0;
    --contact-item-form-card-footer-display: flex;
    --contact-item-form-card-footer-gap: var(--spacing-xl);
    --contact-item-form-card-footer-justify-content: center;

    --social-icon-color: var(--color-zinc-400);

    --footer-bg: var(--color-zinc-50);
    --footer-social-icon-color: var(--social-icon-color);
}
