:root {
    --black: #000000;
    --black-rgb: 0, 0, 0;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --red: #cf1a43;
    --yellow: #f0c000;
    --green: #6aa029;
    --blue: #005fcc;
    --purple: #7c3aed;
    --purple-rgb: 124, 58, 237;
    --purple-light: #ddd6fe;
    --purple-lighter: #f5f3ff;
    --pink: #ff7182;
    --pink-rgb: 255, 113, 130;
    --pink-light: #fba1aa;
    --pink-dark: #f43f5e;
    --pink-dark-rgb: 244 63 94;
    --gray: #e4e4e7;
    --gray-rgb: 228, 228, 231;
    --gray-light: #f4f4f5;
    --gray-light-rgb: 244, 244, 245;
    --gray-lighter: #fafafa;
    --grey-dark: #a1a1aa;

    --primary: var(--black);
    --secondary: var(--white);
    --tertiary: var(--purple);
    --primary-rgb: var(--black-rgb);
    --secondary-rgb: var(--white-rgb);
    --tertiary-rgb: var(--purple-rgb);

    --color-header: #18181b;
    --color-text: #52525b;

    --focus-outline-color: var(--blue);

    --spacing-xs: 0.8rem; /* 8px */
    --spacing-s: 1.2rem; /* 12px */
    --spacing-m: 1.6rem; /* 16px */
    --spacing-l: 2rem; /* 20px */
    --spacing-xl: 2.4rem; /* 24px */
    --spacing-2xl: 3.2rem; /* 32px */
    --spacing-3xl: 4.8rem; /* 48px */

    --font-header-family: 'Playfair Display', 'Times New Roman', Times, serif;
    --font-text-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --fs: 1.2rem; /* 12px */
    --fs-xs: 1.4rem; /* 14px */
    --fs-s: 1.6rem; /* 16px */
    --fs-m: 1.8rem; /* 18px */
    --fs-l: 2rem; /* 20px */
    --fs-xl: 2.4rem; /* 24px */
    --fs-2xl: 4.8rem; /* 48px */
    --fs-3xl: 7.2rem; /* 72px */

    --lh: 1; /* 100% */
    --lh-xs: 1.22; /* 122% */
    --lh-s: 1.33; /* 133% */
    --lh-m: 1.4; /* 140% */
    --lh-l: 1.43; /* 143% */
    --lh-xl: 1.5; /* 150% */
    --lh-2xl: 1.53; /* 153% */
    --lh-3xl: 1.63; /* 163% */

    --radius-xs: 0.2rem; /* 2px */
    --radius-s: 0.4rem; /* 4px */
    --radius-m: 0.6rem; /* 6px */
    --radius-l: 0.8rem; /* 8px */
    --radius-xl: 1.2rem; /* 12px */
    --radius-2xl: 1.6rem; /* 16px */
    --radius-3xl: 2.4rem; /* 24px */
    --radius-max: 999.9rem;

    --border-color: var(--gray-light);
    --border-color-dark: var(--gray);

    --shadow-lg: 0 10px 15px -3px rgb(var(--primary-rgb), .1), 0 4px 6px -4px rgb(var(--primary-rgb), .1);
    --shadow-2xl: 0 25px 50px -12px rgb(var(--primary-rgb), .25);

    --body-font-family: var(--font-text-family);
    --body-font-size: 1.8rem;
    --body-font-weight: 300;
    --body-line-height: var(--lh-3xl);
    --body-color: var(--color-text);
    --body-bg: var(--gray-lighter);

    --a-color: var(--color-text);
    --a-hover-color: var(--tertiary);

    --input-border-bg: var(--gray-lighter);
    --input-border-color: var(--gray);

    --btn-radius: var(--radius-max);
    --btn-shadow: var(--shadow-lg);
    --btn-disabled: var(--gray);

    --btn-primary-bg: var(--primary);
    --btn-primary-color: var(--secondary);
    --btn-primary-hover-bg: var(--tertiary);

    --btn-secondary-bg: var(--secondary);
    --btn-secondary-border: var(--gray);
    --btn-secondary-color: var(--color-header);
    --btn-secondary-hover-bg: var( --purple-lighter);
    --btn-secondary-hover-border: var(--tertiary);

    --pill-bg: var(--white);
    --pill-border: var(--gray);
    --pill-border-radius: var(--radius-max);
    --pill-color: var(--color-text);

    --highlight-bg: var(--purple-lighter);
    --highlight-radius: var(--radius-max);
    --highlight-color: var(--tertiary);

    --hero-element-radius: var(--radius-2xl);
    --hero-element-shadow: var(--shadow-2xl);
    --hero-element-shadow-soft: var(--shadow-lg);
    --hero-element-transform: transform .5s cubic-bezier(.4, 0, .2, 1);
    --hero-element-pill-radius: var(--radius-max);

    --social-icon-color: var(--grey-dark);

    --footer-bg: var(--gray-lighter);
    --footer-social-icon-color: var(--social-icon-color);
}
