@use "../variables" as v;
@use "../mixins/mixins" as m;

.about {

	.about__wrapper {
		row-gap: v.$spacing-2xl;
	}

	.about__col {
		display: flex;
		flex-direction: column;

		&:first-child {
			gap: v.$spacing-xl;

			img {
				aspect-ratio: 16 / 7.5;
				border-radius: v.$radius-2xl;
				box-shadow: v.$shadow-xl;
				object-fit: cover;
			}
		}

		&:last-child {
			gap: v.$spacing-2xl;
		}
	}
}
