@use "../variables" as v;
@use "../mixins/mixins" as m;

.contact {

	.contact__wrapper {
		row-gap: v.$spacing-3xl;
		column-gap: v.$spacing-3xl;
	}

	.btn {
		width: 100%;
		justify-content: center;
	}
}
