@use "../variables" as v;
@use "../mixins/mixins" as m;

.education {

	.education__wrapper {
		row-gap: v.$education-wrapper-gap;
		column-gap: v.$education-wrapper-gap;
		@media (min-width: 75rem)  {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
