@use "../variables" as v;
@use "../mixins/mixins" as m;

.experience {
	
	.experience__wrapper {
		max-width: 87rem;
		margin-inline: auto;
		
		ul li {
			display: flex;
			gap: v.$spacing-s;
			align-items: flex-start;
			
			&::before {
				content: '✦';
				line-height: 2;
			}
			
			&:last-child {
				margin: v.$spacing-s 0 0;
			}
		}
		
		.experience-item {
			display: flex;
			gap: clamp(2.8rem, 1.3714rem + 4.4643vw, 4.8rem);
			position: relative;
			
			&:not(:first-child) {
				padding-block-start: v.$spacing * 21;
				
				.experience-item__timepoint {
					
					&::after {
						inset-block-start: calc(-1 * #{v.$spacing * 21});
					}
				}
			}
			
			.experience-item__timepoint {
				height: 100%;
				inset-inline-start: 0;
				position: absolute;
				@media (min-width: 48rem)  {
					inset-inline-start: 13.8rem;
				}
				
				&::before {
					content: '';
					inset-block-start: v.$spacing * 22;
					width: 1.2rem;
					height: 1.2rem;
					background: v.$experience-item-timepoint-before-bg;
					border: 0.2rem solid v.$experience-item-timepoint-before-border-color;
					border-radius: v.$radius-max;
					box-shadow: v.$shadow-s;
					position: absolute;
					z-index: 1;
				}
				
				&::after {
					content: '';
					inset-inline-end: -0.6rem;
					width: 0.1rem;
					height: 100%;
					display: block;
					background-color: v.$experience-item-timepoint-after-color;
					position: absolute;
				}
			}
			
			.experience-item__date {
				padding-block-start: v.$spacing * 21;
				display: flex;
				flex-shrink: 0;
				justify-content: flex-end;
				font-size: v.$fs-xs;
				font-weight: 500;
				color: v.$experience-item-date-color;
				line-height: v.$lh;
				white-space: nowrap;
				position: relative;
				@media (min-width: 48rem)  {
					width: 120px;
				}
				
				p {
					display: none;
					@media (min-width: 48rem)  {
						display: block;
					}
				}
			}
			
			.experience-item__card {
				width: 100%;
			}
		}
	}
}
