@use "../variables" as v;
@use "../mixins/mixins" as m;

*:focus-visible {
    outline: 2px solid v.$focus-outline-color;
}

html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, rgb(0, 0, 0, .06) 1px, transparent 1px);
    background-size: 24px 24px;
    background-color: v.$body-bg;
    font-family: v.$body-ff, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: v.$body-fs;
    font-weight: v.$body-fw;
    line-height: v.$body-lh;
    color: v.$body-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: v.$font-header-family, "Times New Roman", Times, serif;
    font-weight: v.$h-fw;
    color: v.$h-color;
}

h1 {
    font-size: v.$h1-fs;
    line-height: v.$h1-lh;
    letter-spacing: v.$h1-ls;
}

h2 {
    margin-block-end: v.$h2-margin-block-end;
    font-size: v.$h2-fs;
    line-height: v.$h2-lh;
    letter-spacing: v.$h2-ls;
}

p {
    color: v.$p-color;
}

a {
    color: v.$a-color;
    text-decoration: v.$a-text-decoration;
    
    svg {
        stroke: v.$a-color !important;
    }
    
    &:active,
    &:hover {
        &:not(.btn) {
            color: v.$a-hover-color !important;

            svg {
                stroke: v.$a-hover-color !important;
            }
        }
    }
}

ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style: disc;

    li {
        display: list-item;
        font-size: v.$li-fs;
        line-height: v.$li-lh;

        &::before {
            font-size: v.$li-before-fs;
            color: v.$li-before-color;
        }
    }
}

hr {
    margin-block: v.$hr-margin-block;
    border: none;
    border-block-start: v.$hr-border;
}

svg {
    stroke: v.$svg-color;
}

header,
footer,
section {
    padding-inline: v.$spacing-range-m-3xl;
    padding-block: v.$spacing * 48;
}

section {
    
    &:nth-child(2n + 3) {
        background: v.$section-bg;
        border-block-start: v.$section-border;
        border-block-end: v.$section-border;
    }
}

.container {
    max-width: 115.2rem;
    margin-inline: auto;
}

.logo {
    display: flex;
    gap: v.$spacing-xs;
    align-items: center;

    span {
        font-family: v.$font-header-family, "Times New Roman", Times, serif;
        font-size: v.$fs-l;
        font-weight: 700;
        color: v.$h-color;
        line-height: v.$lh-s;
        letter-spacing: -.05rem;
    }
}

.highlight {
    font-size: v.$fs-range-fs-xs !important;
    font-weight: 500 !important;
    color: v.$highlight-color !important;
    line-height: v.$lh !important;

    &:has(svg) {
        @include m.flex-cluster (v.$spacing-xs, center, flex-start, nowrap);
    }

    svg {
        @include m.icon-size (v.$fs-range-fs-xs);
        stroke: v.$highlight-color;
    }
}

.preheader {
    margin-block-end: v.$spacing-m;
    display: flex;
    gap: v.$spacing-m;
    align-items: center;
    font-size: v.$fs-range-fs-xs;
    font-weight: 500;
    color: v.$preheader-color;
    line-height: v.$lh-l;
    text-transform: uppercase;

    &::before {
        content: '';
        width: 3.2rem;
        height: 0.2rem;
        display: block;
        background: v.$preheader-bg;
    }
}

.social-icons {
    display: flex;
    gap: v.$spacing-l;
    align-items: center;

    svg {
        @include m.icon-size (2.4rem);
        stroke: v.$social-icon-color;
    }
}

.backdrop {
    inset: 0;
    backdrop-filter: v.$backdrop-backdrop-filter;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s ease, visibility .3s ease;
    position: fixed;
    z-index: 90;
}
