@use "sass:map";
@use "sass:list";

$black: #000000 !default;
$white: #ffffff !default;
$red: #cf1a43 !default;
$yellow: #f0c000 !default;
$green: #6aa029 !default;
$blue: #005fcc !default;

$color-violet-50: #f5f3ff !default;
$color-violet-100: #ede9fe !default;
$color-violet-200: #ddd6fe !default;
$color-violet-300: #c4b5fd !default;
$color-violet-400: #a685ff !default;
$color-violet-500: #8b5cf5 !default;
$color-violet-600: #7c3aed !default;
$color-violet-700: #6d28d9 !default;
$color-violet-800: #5d0ec0 !default;
$color-violet-900: #4d179a !default;
$color-violet-950: #2f0d68 !default;

$color-rose-50: #fff1f2 !default;
$color-rose-100: #ffe4e6 !default;
$color-rose-200: #ffccd3 !default;
$color-rose-300: #ffa2ae !default;
$color-rose-400: #fb7185 !default;
$color-rose-500: #f43f5e !default;
$color-rose-600: #e70044 !default;
$color-rose-700: #c20039 !default;
$color-rose-800: #a30037 !default;
$color-rose-900: #8b0836 !default;
$color-rose-950: #4d0218 !default;

$color-zinc-50: #fafafa !default;
$color-zinc-100: #f4f4f5 !default;
$color-zinc-200: #e4e4e7 !default;
$color-zinc-300: #d4d4d8 !default;
$color-zinc-400: #a1a1aa !default;
$color-zinc-500: #71717b !default;
$color-zinc-600: #52525c !default;
$color-zinc-700: #3f3f46 !default;
$color-zinc-800: #27272a !default;
$color-zinc-900: #18181b !default;
$color-zinc-950: #09090b !default;

$primary: $black !default;
$secondary: $white !default;
$tertiary: $color-violet-600 !default;
$tertiary-bright: $color-violet-100 !default;
$tertiary-brighter: $color-violet-50 !default;
$quaternary: $color-rose-400 !default;
$quaternary-dark: $color-rose-500 !default;

$focus-outline-color: $blue !default;

$spacing: 0.2rem !default;
$spacing-xxs: 0.4rem !default;
$spacing-xs: 0.8rem !default;
$spacing-s: 1.2rem !default;
$spacing-m: 1.6rem !default;
$spacing-l: 2rem !default;
$spacing-xl: 2.4rem !default;
$spacing-2xl: 3.2rem !default;
$spacing-3xl: 4rem !default;

$spacing-range-m-3xl: clamp($spacing-m, 0.5091rem + 3.4091vw, $spacing-3xl) !default;

$font-header-family: 'Playfair Display' !default;
$font-text-family: 'Inter' !default;

$fs: 1.2rem !default;
$fs-xs: 1.4rem !default;
$fs-s: 1.6rem !default;
$fs-m: 1.8rem !default;
$fs-l: 2rem !default;
$fs-xl: 2.4rem !default;
$fs-2xl: 4.8rem !default;
$fs-3xl: 7.2rem !default;

$fs-range-fs-xs: clamp($fs, 1.1091rem + 0.2841vw, $fs-xs) !default;
$fs-range-xs-s: clamp($fs-xs, 1.3091rem + 0.2841vw, $fs-s) !default;
$fs-range-xs-m: clamp($fs-xs, 1.2182rem + 0.5682vw, $fs-m) !default;
$fs-range-s-m: clamp($fs-s, 1.5091rem + 0.2841vw, $fs-m) !default;
$fs-range-m-l: clamp($fs-m, 1.7091rem + 0.2841vw, $fs-l) !default;
$fs-range-l-xl: clamp($fs-l, 1.8182rem + 0.5682vw, $fs-xl) !default;

$lh: 1 !default;
$lh-xs: 1.22 !default;
$lh-s: 1.33 !default;
$lh-m: 1.4 !default;
$lh-l: 1.43 !default;
$lh-xl: 1.5 !default;
$lh-2xl: 1.53 !default;
$lh-3xl: 1.63 !default;

$radius-xs: 0.2rem !default;
$radius-s: 0.4rem !default;
$radius-m: 0.6rem !default;
$radius-l: 0.8rem !default;
$radius-xl: 1.2rem !default;
$radius-2xl: 1.6rem !default;
$radius-3xl: 2.4rem !default;
$radius-max: 999.9rem !default;

$border-color: $color-zinc-100 !default;
$border-color-dark: $color-zinc-200 !default;

$shadow-color-s: rgb($primary, .05) !default;
$shadow-color-l: rgb($primary, .1) !default;
$shadow-color-2xl: rgb($primary, .25) !default;

$shadow-s-base-1: 0 1px 2px 0 !default;
$shadow-m-base-1: 0 4px 6px -1px !default;
$shadow-m-base-2: 0 2px 4px -2px !default;
$shadow-l-base-1: 0 10px 15px -3px !default;
$shadow-l-base-2: 0 4px 6px -4px !default;
$shadow-xl-base-1: 0 20px 25px -5px !default;
$shadow-xl-base-2: 0 8px 10px -6px !default;
$shadow-2xl-base-1: 0 25px 50px -12px !default;

$shadow-s: $shadow-s-base-1 $shadow-color-s !default;
$shadow-m: $shadow-m-base-1 $shadow-color-l, $shadow-m-base-2 $shadow-color-l !default;
$shadow-l: $shadow-l-base-1 $shadow-color-l, $shadow-l-base-2 $shadow-color-l !default;
$shadow-xl: $shadow-xl-base-1 $shadow-color-l, $shadow-xl-base-2 $shadow-color-l !default;
$shadow-2xl: $shadow-2xl-base-1 $shadow-color-2xl !default;

$body-ff: $font-text-family !default;
$body-fs: $fs-range-xs-m !default;
$body-fw: 300 !default;
$body-lh: $lh-3xl !default;
$body-color: $color-zinc-600 !default;
$body-bg: $color-zinc-50 !default;

/* Typo */
$h-fw: 600 !default;
$h-color: $color-zinc-900 !default;
$h1-fs: clamp(6.2rem, 5.7455rem + 1.4205vw, 7.2rem) !default;
$h1-lh: $lh !default;
$h1-ls: -0.18rem !default;
$h2-margin-block-end: clamp($spacing-2xl, 1.7455rem + 4.5455vw, $spacing * 32) !default;
$h2-fs: clamp(3.8rem, 3.3455rem + 1.4205vw, 4.8rem) !default;
$h2-lh: $lh !default;
$h2-ls: -0.1rem !default;

$p-color: $body-color !default;

$a-color: $p-color !default;
$a-text-decoration: underline !default;
$a-hover-color: $tertiary !default;

$li-fs: $fs-range-xs-s !default;
$li-lh: $lh-3xl !default;
$li-before-fs: $fs !default;
$li-before-color: $tertiary !default;

/* Elemente */
$hr-margin-block: $spacing-xl !default;
$hr-border: 0.1rem solid $border-color-dark !default;

$svg-color: $tertiary !default;

$input-bg: $color-zinc-50 !default;
$input-checked-bg: $tertiary-brighter !default;
$input-border-color: $border-color-dark !default;

$btn-height: 4rem !default;
$btn-padding: $spacing-s $spacing-m !default;
$btn-gap: $spacing-xs !default;
$btn-align-items: center !default;
$btn-justify-content: space-between !default;
$btn-radius: $radius-max !default;
$btn-shadow: $shadow-l !default;
$btn-transition: ease-out background-color .2s, ease-out border-color .2s !default;
$btn-fs: $fs-range-fs-xs !default;
$btn-fw: 500 !default;
$btn-white-space: nowrap !default;
$btn-svg-dimension: 1.4rem !default;

$btn-large-height: 5.6rem !default;
$btn-large-padding: $spacing-m $spacing-2xl !default;
$btn-large-fs: $fs-range-xs-s !default;

$btn-primary-bg: $primary !default;
$btn-primary-border: 0.1rem solid $primary !default;
$btn-primary-color: $secondary !default;
$btn-primary-hover-bg: $tertiary !default;
$btn-primary-hover-border: $tertiary !default;

$btn-secondary-bg: $secondary !default;
$btn-secondary-border: 0.1rem solid $border-color-dark !default;
$btn-secondary-color: $h-color !default;
$btn-secondary-hover-bg: $tertiary-brighter !default;
$btn-secondary-hover-border: $tertiary !default;

$btn-disabled-bg: $color-zinc-200 !default;
$btn-disabled-border: $color-zinc-200 !default;
$btn-disabled-color: $color-zinc-400 !default;

$pill-padding: calc($spacing-xs + 0.2rem) !default;
$pill-bg: $secondary !default;
$pill-border: 0.1rem solid $border-color-dark !default;
$pill-radius: $radius-max !default;
$pill-shadow: $shadow-s !default;
$pill-fs: $fs-range-fs-xs !default;
$pill-fw: 500 !default;
$pill-lh: $lh !default;
$pill-color: $p-color !default;
$pill-white-space: nowrap !default;

$card-bg: $secondary !default;
$card-border: 0.1rem solid $border-color !default;
$card-radius: $radius-2xl !default;
$card-shadow: $shadow-s !default;
$card-transition: border-color .15s cubic-bezier(.4, 0, .2, 1), box-shadow .15s cubic-bezier(.4, 0, .2, 1) !default;
$card-fs: $fs-range-xs-s !default;
$card-lh: $lh-3xl !default;
$card-color: $p-color !default;
$card-h-fs: $fs-range-l-xl !default;
$card-h-fw: $h-fw !default;
$card-h-lh: $lh !default;
$card-a-gap: $spacing-xs !default;
$card-icon-transform: scale(1.1) !default;
$card-icon-transition: transform .15s cubic-bezier(.4, 0, .2, 1) !default;
$card-icon-svg-width: 2.4rem !default;
$card-icon-svg-color: $svg-color !default;
$card-figure-flex-shrink: 0 !default;
$card-figure-img-aspect-ratio: list.slash(16, 7.5) !default;
$card-figure-img-object-fit: cover !default;
$card-figure-img-transition: transform .3s cubic-bezier(.4, 0, .2, 1) !default;
$card-figure-figcaption-inset: 1.6rem !default;
$card-header-padding: $spacing-2xl !default;
$card-header-gap: $spacing-m !default;
$card-header-align-items: center !default;
$card-header-wrap: wrap !default;
$card-body-wrapper-h-margin-block-end: $spacing-s !default;
$card-body-wrapper-p-margin-block-end: $spacing-xl !default;
$card-body-wrapper-padding: $spacing-2xl !default;
$card-body-wrapper-wrap: wrap !default;
$card-footer-margin-block-start: auto !default;
$card-footer-padding: $spacing-2xl !default;
$card-footer-flex-shrink: 0 !default;
$card-footer-wrap: wrap !default;
$card-hover-border-color: $tertiary-bright !default;

$offcanvas-width: min(100%, 32rem) !default;
$offcanvas-padding: $spacing-range-m-3xl !default;
$offcanvas-gap: $spacing-s !default;
$offcanvas-bg: $white !default;

$splide-list-gap: $spacing-2xl !default;
$splide-arrow-position: -1rem !default;
$splide-arrow-size: 3.6rem !default;
$splide-arrow-opacity: .7 !default;
$splide-arrow-bg: $tertiary !default;
$splide-arrow-svg-color: $secondary !default;
$splide-pagination-block-end: unset !default;
$splide-pagination-inline-start: 0 !default;
$splide-pagination-inline-end: 0 !default;
$splide-pagination-padding: $spacing-xs $spacing-xs 0 $spacing-xs !default;
$splide-pagination-flex-wrap: wrap !default;
$splide-pagination-gap: $spacing-xs !default;
$splide-pagination-align-items: center !default;
$splide-pagination-justify-content: center !default;
$splide-pagination-page-size: 0.8rem !default;
$splide-pagination-page-bg: $tertiary-bright !default;
$splide-pagination-page-active-bg: $tertiary !default;

/* Layout */
$header-bg: $white !default;
$header-scrolled-bg: rgb($white, .8) !default;
$header-scrolled-backdrop-filter: blur(10px) !default;

$section-bg: $secondary !default;
$section-border: 0.1rem solid $border-color !default;

$highlight-bg: $tertiary-bright !default;
$highlight-color: $tertiary !default;

$preheader-color: $tertiary !default;
$preheader-bg: $preheader-color !default;

$social-icon-color: $color-zinc-400 !default;

$hero-h-1-i-bg: $tertiary !default;
$hero-h-1-i-bg-image: linear-gradient(to right, $tertiary 20%, $quaternary-dark 100%) !default;
$hero-element-1-bg: $tertiary !default;
$hero-element-2-bg: $secondary !default;
$hero-element-2-child-1-bg: $color-zinc-100 !default;
$hero-element-2-child-2-bg: $color-zinc-200 !default;
$hero-element-2-child-4-grandchild-1-bg: rgb($tertiary, .1) !default;
$hero-element-2-child-4-grandchild-2-bg: rgb($quaternary, .1) !default;
$hero-element-3-bg: rgb($secondary, .9) !default;
$hero-element-3-child-bg: $color-zinc-100 !default;
$hero-element-3-child-1-grandchild-1-bg: linear-gradient(125deg, $tertiary 20%, $quaternary-dark 100%) !default;
$hero-element-3-child-1-grandchild-2-bg: $color-zinc-200 !default;
$hero-element-3-child-1-grandchild-3-bg: $color-zinc-100 !default;
$hero-element-4-bg: $quaternary !default;

$about-item-card-icon-bg: $highlight-bg !default;

$skill-item-bg: $color-zinc-50 !default;
$skill-item-icon-bg: $secondary !default;

$experience-item-timepoint-before-bg: $secondary !default;
$experience-item-timepoint-before-border-color: $tertiary !default;
$experience-item-timepoint-after-color: $border-color-dark !default;
$experience-item-date-color: $tertiary !default;
$experience-item-card-workplace-point-color: $color-zinc-900 !default;
$experience-item-card-workplace-icon-color: $p-color !default;

$project-item-bg: $color-zinc-50 !default;
$project-item-card-hover-shadow: $shadow-xl-base-1 rgba($color-violet-500, .1), $shadow-xl-base-2 rgba($color-violet-500, .1);
$project-item-icon-bg: $secondary !default;
$project-item-icon-svg-color: $color-zinc-400 !default;

$education-item-bg: $secondary !default;
$education-item-icon-bg: $highlight-bg !default;

$contact-item-icon-bg: $secondary !default;
$contact-item-info-card-bg: $color-zinc-100 !default;


$footer-bg: $color-zinc-50 !default;
$footer-social-icon-color: $social-icon-color !default;

$backdrop-backdrop-filter: $header-scrolled-backdrop-filter;

$breakpoints: (
  mobile-nav: 63.99rem,
  tablet: 48rem,
  desktop: 64rem,
  wide: 75rem,
) !default;

$colors: (
  black: $black,
  white: $white,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  tertiary-bright: $tertiary-bright,
  tertiary-brighter: $tertiary-brighter,
  quaternary: $quaternary,
  quaternary-dark: $quaternary-dark,
  zinc-50: $color-zinc-50,
  zinc-100: $color-zinc-100,
  zinc-200: $color-zinc-200,
  zinc-300: $color-zinc-300,
  zinc-400: $color-zinc-400,
  zinc-600: $color-zinc-600,
  zinc-900: $color-zinc-900
) !default;

$spaces: (
  base: $spacing,
  xxs: $spacing-xxs,
  xs: $spacing-xs,
  s: $spacing-s,
  m: $spacing-m,
  l: $spacing-l,
  xl: $spacing-xl,
  "2xl": $spacing-2xl,
  "3xl": $spacing-3xl
) !default;

$radii: (
  xs: $radius-xs,
  s: $radius-s,
  m: $radius-m,
  l: $radius-l,
  xl: $radius-xl,
  "2xl": $radius-2xl,
  "3xl": $radius-3xl,
  max: $radius-max
) !default;
