@use "sass:map";

$black: #000000 !default;
$white: #ffffff !default;
$red: #cf1a43 !default;
$yellow: #f0c000 !default;
$green: #6aa029 !default;
$blue: #005fcc !default;
$black-rgb: 0, 0, 0 !default;
$white-rgb: 255, 255, 255 !default;
$red-rgb: 207, 26, 67 !default;
$yellow-rgb: 240, 192, 0 !default;
$green-rgb: 106, 160, 41 !default;
$blue-rgb: 0, 95, 204 !default;

$color-violet-50: #f5f3ff !default;
$color-violet-100: #ede9fe !default;
$color-violet-200: #ddd6fe !default;
$color-violet-300: #c4b5fd !default;
$color-violet-400: #a685ff !default;
$color-violet-500: #8b5cf5 !default;
$color-violet-600: #7c3aed !default;
$color-violet-700: #6d28d9 !default;
$color-violet-800: #5d0ec0 !default;
$color-violet-900: #4d179a !default;
$color-violet-950: #2f0d68 !default;
$color-violet-50-rgb: 245, 243, 255 !default;
$color-violet-100-rgb: 237, 233, 254 !default;
$color-violet-200-rgb: 221, 214, 254 !default;
$color-violet-300-rgb: 196, 181, 253 !default;
$color-violet-400-rgb: 166, 133, 255 !default;
$color-violet-500-rgb: 139, 92, 246 !default;
$color-violet-600-rgb: 124, 58, 237 !default;
$color-violet-700-rgb: 109, 40, 217 !default;
$color-violet-800-rgb: 93, 14, 192 !default;
$color-violet-900-rgb: 77, 23, 154 !default;
$color-violet-950-rgb: 47, 13, 104 !default;

$color-rose-50: #fff1f2 !default;
$color-rose-100: #ffe4e6 !default;
$color-rose-200: #ffccd3 !default;
$color-rose-300: #ffa2ae !default;
$color-rose-400: #fb7185 !default;
$color-rose-500: #f43f5e !default;
$color-rose-600: #e70044 !default;
$color-rose-700: #c20039 !default;
$color-rose-800: #a30037 !default;
$color-rose-900: #8b0836 !default;
$color-rose-950: #4d0218 !default;
$color-rose-50-rgb: 255, 241, 242 !default;
$olor-rose-100-rgb: 255, 228, 230 !default;
$color-rose-200-rgb: 255, 204, 211 !default;
$color-rose-300-rgb: 255, 162, 174 !default;
$color-rose-400-rgb: 251, 113, 133 !default;
$color-rose-500-rgb: 244, 63, 94 !default;
$color-rose-600-rgb: 231, 0, 68 !default;
$color-rose-700-rgb: 194, 0, 57 !default;
$color-rose-800-rgb: 163, 0, 55 !default;
$color-rose-900-rgb: 139, 8, 54 !default;
$color-rose-950-rgb: 77, 2, 24 !default;

$color-zinc-50: #fafafa !default;
$color-zinc-100: #f4f4f5 !default;
$color-zinc-200: #e4e4e7 !default;
$color-zinc-300: #d4d4d8 !default;
$color-zinc-400: #a1a1aa !default;
$color-zinc-500: #71717b !default;
$color-zinc-600: #52525c !default;
$color-zinc-700: #3f3f46 !default;
$color-zinc-800: #27272a !default;
$color-zinc-900: #18181b !default;
$color-zinc-950: #09090b !default;
$color-zinc-50-rgb: 250, 250, 250 !default;
$color-zinc-100-rgb: 244, 244, 245 !default;
$color-zinc-200-rgb: 228, 228, 231 !default;
$color-zinc-300-rgb: 212, 212, 216 !default;
$color-zinc-400-rgb: 161, 161, 170 !default;
$color-zinc-500-rgb: 113, 113, 123 !default;
$color-zinc-600-rgb: 82, 82, 92 !default;
$color-zinc-700-rgb: 63, 63, 70 !default;
$color-zinc-800-rgb: 39, 39, 42 !default;
$color-zinc-900-rgb: 24, 24, 27 !default;
$color-zinc-950-rgb: 9, 9, 11 !default;

$primary: $black !default;
$secondary: $white !default;
$tertiary: $color-violet-600 !default;
$tertiary-bright: $color-violet-100 !default;
$tertiary-brighter: $color-violet-50 !default;
$quaternary: $color-rose-400 !default;
$quaternary-dark: $color-rose-500 !default;

$primary-rgb: $black-rgb !default;
$secondary-rgb: $white-rgb !default;
$tertiary-rgb: $color-violet-600-rgb !default;
$tertiary-bright-rgb: $color-violet-100-rgb !default;
$tertiary-brighter-rgb: $color-violet-50-rgb !default;
$quaternary-rgb: $color-rose-400-rgb !default;
$quaternary-dark-rgb: $color-rose-500-rgb !default;

$focus-outline-color: $blue !default;

$spacing: 0.2rem !default;
$spacing-xxs: 0.4rem !default;
$spacing-xs: 0.8rem !default;
$spacing-s: 1.2rem !default;
$spacing-m: 1.6rem !default;
$spacing-l: 2rem !default;
$spacing-xl: 2.4rem !default;
$spacing-2xl: 3.2rem !default;
$spacing-3xl: 4rem !default;

$spacing-range-m-3xl: clamp($spacing-m, 0.5091rem + 3.4091vw, $spacing-3xl) !default;

$font-header-family: 'Playfair Display' !default;
$font-text-family: 'Inter' !default;

$fs: 1.2rem !default;
$fs-xs: 1.4rem !default;
$fs-s: 1.6rem !default;
$fs-m: 1.8rem !default;
$fs-l: 2rem !default;
$fs-xl: 2.4rem !default;
$fs-2xl: 4.8rem !default;
$fs-3xl: 7.2rem !default;

$fs-range-fs-xs: clamp($fs, 1.1091rem + 0.2841vw, $fs-xs) !default;
$fs-range-xs-s: clamp($fs-xs, 1.3091rem + 0.2841vw, $fs-s) !default;
$fs-range-xs-m: clamp($fs-xs, 1.2182rem + 0.5682vw, $fs-m) !default;
$fs-range-s-m: clamp($fs-s, 1.5091rem + 0.2841vw, $fs-m) !default;
$fs-range-m-l: clamp($fs-m, 1.7091rem + 0.2841vw, $fs-l) !default;
$fs-range-l-xl: clamp($fs-l, 1.8182rem + 0.5682vw, $fs-xl) !default;

$lh: 1 !default;
$lh-xs: 1.22 !default;
$lh-s: 1.33 !default;
$lh-m: 1.4 !default;
$lh-l: 1.43 !default;
$lh-xl: 1.5 !default;
$lh-2xl: 1.53 !default;
$lh-3xl: 1.63 !default;

$radius-xs: 0.2rem !default;
$radius-s: 0.4rem !default;
$radius-m: 0.6rem !default;
$radius-l: 0.8rem !default;
$radius-xl: 1.2rem !default;
$radius-2xl: 1.6rem !default;
$radius-3xl: 2.4rem !default;
$radius-max: 999.9rem !default;

$border-color: $color-zinc-100 !default;
$border-color-dark: $color-zinc-200 !default;

$shadow-color-s: rgb($primary, .05) !default;
$shadow-color-l: rgb($primary, .1) !default;
$shadow-color-2xl: rgb($primary, .25) !default;

$shadow-s-base-1: 0 1px 2px 0 !default;
$shadow-m-base-1: 0 4px 6px -1px !default;
$shadow-m-base-2: 0 2px 4px -2px !default;
$shadow-l-base-1: 0 10px 15px -3px !default;
$shadow-l-base-2: 0 4px 6px -4px !default;
$shadow-xl-base-1: 0 20px 25px -5px !default;
$shadow-xl-base-2: 0 8px 10px -6px !default;
$shadow-2xl-base-1: 0 25px 50px -12px !default;

$shadow-s: $shadow-s-base-1 $shadow-color-s !default;
$shadow-m: $shadow-m-base-1 $shadow-color-l, $shadow-m-base-2 $shadow-color-l !default;
$shadow-l: $shadow-l-base-1 $shadow-color-l, $shadow-l-base-2 $shadow-color-l !default;
$shadow-xl: $shadow-xl-base-1 $shadow-color-l, $shadow-xl-base-2 $shadow-color-l !default;
$shadow-2xl: $shadow-2xl-base-1 $shadow-color-2xl !default;

$body-ff: $font-text-family !default;
$body-fs: $fs-range-xs-m !default;
$body-fw: 300 !default;
$body-lh: $lh-3xl !default;
$body-color: $color-zinc-600 !default;
$body-bg: $color-zinc-50 !default;

/* Typo */
$h-fw: 600 !default;
$h-color: $color-zinc-900 !default;
$h1-margin-block-end: null !default;
$h1-padding-block-end: null !default;
$h1-fs: clamp(6.2rem, 5.7455rem + 1.4205vw, 7.2rem) !default;
$h1-lh: $lh !default;
$h1-ls: -0.18rem !default;
$h2-margin-block-end: clamp($spacing-2xl, 1.7455rem + 4.5455vw, $spacing * 32) !default;
$h2-padding-block-end: null !default;
$h2-fs: clamp(3.8rem, 3.3455rem + 1.4205vw, 4.8rem) !default;
$h2-lh: $lh !default;
$h2-ls: -0.1rem !default;
$h3-margin-block-end: null !default;
$h3-padding-block-end: null !default;
$h3-fs: null !default;
$h3-lh: null !default;
$h3-ls: null !default;
$h4-margin-block-end: null !default;
$h4-padding-block-end: null !default;
$h4-fs: null !default;
$h4-lh: null !default;
$h4-ls: null !default;
$h5-margin-block-end: null !default;
$h5-padding-block-end: null !default;
$h5-fs: null !default;
$h5-lh: null !default;
$h5-ls: null !default;
$h6-margin-block-end: null !default;
$h6-padding-block-end: null !default;
$h6-fs: null !default;
$h6-lh: null !default;
$h6-ls: null !default;

$p-margin-block-end: null !default;
$p-padding-block-end: null !default;
$p-fs: null !default;
$p-fw: null !default;
$p-lh: null !default;
$p-color: $body-color !default;

$a-color: $p-color !default;
$a-text-decoration: underline !default;
$a-hover-color: $tertiary !default;

$ul-margin: null !default;
$ul-padding: null !default;
$ul-display: block !default;
$ul-flex-direction: null !default;
$ul-gap: null !default;
$ul-align-items: null !default;
$ul-list-style: disc !default;
$ul-fs: null !default;
$ul-fw: null !default;
$ul-white-space: null !default;
$li-margin: null !default;
$li-padding: null !default;
$li-display: list-item !default;
$li-flex-direction: null !default;
$li-gap: null !default;
$li-align-items: null !default;
$li-fs: $fs-range-xs-s !default;
$li-lh: $lh-3xl !default;
$li-before-content: null !default;
$li-before-fs: $fs !default;
$li-before-color: $tertiary !default;
$li-before-lh: null !default;
$li-last-child-margin: null !default;
$li-last-child-padding: null !default;

/* Elemente */
$hr-margin-block: $spacing-xl !default;
$hr-border: 0.1rem solid $border-color-dark !default;

$svg-color: $tertiary !default;

$input-bg: $color-zinc-50 !default;
$input-checked-bg: $tertiary-brighter !default;
$input-border-color: $border-color-dark !default;

$btn-height: 4rem !default;
$btn-padding: $spacing-s $spacing-m !default;
$btn-display: flex !default;
$btn-gap: $spacing-xs !default;
$btn-align-items: center !default;
$btn-justify-content: space-between !default;
$btn-radius: $radius-max !default;
$btn-shadow: $shadow-l !default;
$btn-transition: ease-out background-color .2s, ease-out border-color .2s !default;
$btn-fs: $fs-range-fs-xs !default;
$btn-fw: 500 !default;
$btn-lh: $lh !default;
$btn-text-decoration: none !default;
$btn-white-space: nowrap !default;
$btn-svg-dimension: 1.4rem !default;

$btn-large-height: 5.6rem !default;
$btn-large-padding: $spacing-m $spacing-2xl !default;
$btn-large-fs: $fs-range-xs-s !default;

$btn-primary-bg: $primary !default;
$btn-primary-border: 0.1rem solid $primary !default;
$btn-primary-color: $secondary !default;
$btn-primary-hover-bg: $tertiary !default;
$btn-primary-hover-border: $tertiary !default;

$btn-secondary-bg: $secondary !default;
$btn-secondary-border: 0.1rem solid $border-color-dark !default;
$btn-secondary-color: $h-color !default;
$btn-secondary-hover-bg: $tertiary-brighter !default;
$btn-secondary-hover-border: $tertiary !default;

$btn-disabled-bg: $color-zinc-200 !default;
$btn-disabled-border: $color-zinc-200 !default;
$btn-disabled-color: $color-zinc-400 !default;

$pill-padding: calc($spacing-xs + 0.2rem) !default;
$pill-bg: $secondary !default;
$pill-border: 0.1rem solid $border-color-dark !default;
$pill-radius: $radius-max !default;
$pill-shadow: $shadow-s !default;
$pill-fs: $fs-range-fs-xs !default;
$pill-fw: 500 !default;
$pill-lh: $lh !default;
$pill-color: $p-color !default;
$pill-white-space: nowrap !default;

$card-padding: null !default;
$card-display: flex !default;
$card-direction: column !default;
$card-gap: null !default;
$card-bg: $secondary !default;
$card-border: 0.1rem solid $border-color !default;
$card-radius: $radius-2xl !default;
$card-shadow: $shadow-s !default;
$card-transition: border-color .15s cubic-bezier(.4, 0, .2, 1), box-shadow .15s cubic-bezier(.4, 0, .2, 1) !default;
$card-fs: $fs-range-xs-s !default;
$card-lh: $lh-3xl !default;
$card-color: $p-color !default;
$card-h-fs: $fs-range-l-xl !default;
$card-h-fw: $h-fw !default;
$card-h-lh: $lh !default;
$card-a-gap: $spacing-xs !default;
$card-icon-padding: null !default;
$card-icon-bg: null !default;
$card-icon-border: null !default;
$card-icon-radius: null !default;
$card-icon-shadow: null !default;
$card-icon-transform: scale(1.1) !default;
$card-icon-transition: transform .15s cubic-bezier(.4, 0, .2, 1) !default;
$card-icon-svg-width: 2.4rem !default;
$card-icon-svg-height: 2.4rem !default;
$card-icon-svg-color: $svg-color !default;
$card-figure-flex-shrink: 0 !default;
$card-figure-img-aspect-ratio: 16 / 7.5 !default;
$card-figure-img-object-fit: cover !default;
$card-figure-img-transition: transform .3s cubic-bezier(.4, 0, .2, 1) !default;
$card-figure-figcaption-inset: 1.6rem !default;
$card-header-padding: $spacing-2xl !default;
$card-header-display: null !default;
$card-header-direction: null !default;
$card-header-gap: $spacing-m !default;
$card-header-align-items: center !default;
$card-header-justify-content: null !default;
$card-header-wrap: wrap !default;
$card-header-bg: null !default;
$card-header-border: null !default;
$card-header-border-radius: null !default;
$card-body-padding: null !default;
$card-body-display: flex !default;
$card-body-bg: null !default;
$card-body-wrapper-h-margin-block-end: $spacing-s !default;
$card-body-wrapper-p-margin-block-end: $spacing-xl !default;
$card-body-wrapper-padding: $spacing-2xl !default;
$card-body-wrapper-display: null !default;
$card-body-wrapper-direction: null !default;
$card-body-wrapper-gap: null !default;
$card-body-wrapper-align-items: null !default;
$card-body-wrapper-justify-content: null !default;
$card-body-wrapper-wrap: wrap !default;
$card-body-wrapper-border-block-start: null !default;
$card-body-wrapper-border-block-end: null !default;
$card-body-wrapper-text-align: null !default;
$card-footer-margin-block-start: auto !default;
$card-footer-padding: $spacing-2xl !default;
$card-footer-display: null !default;
$card-footer-direction: null !default;
$card-footer-gap: null !default;
$card-footer-align-items: null !default;
$card-footer-justify-content: null !default;
$card-footer-flex-shrink: 0 !default;
$card-footer-wrap: wrap !default;
$card-footer-bg: null !default;
$card-footer-border: null !default;
$card-footer-svg-width: 1.6rem !default;
$card-footer-svg-height: 1.6rem !default;

$offcanvas-inset: 0 !default;
$offcanvas-inset-block-start: 0 !default;
$offcanvas-width: min(100%, 32rem) !default;
$offcanvas-padding: $spacing-range-m-3xl !default;
$offcanvas-display: flex !default;
$offcanvas-flex-direction: column !default;
$offcanvas-align-items: stretch !default;
$offcanvas-gap: $spacing-s !default;
$offcanvas-background: $white !default;
$offcanvas-position: fixed !default;
$offcanvas-transform: translateX(100%) !default;
$offcanvas-transition: none !default;

$splide-track-margin-inline: null !default;
$splide-track-padding-block: null !default;
$splide-track-padding-inline: null !default;
$splide-list-gap: $spacing-2xl !default;
$splide-arrow-position: -1rem !default;
$splide-arrow-size: 3.6rem !default;
$splide-arrow-opacity: .7 !default;
$splide-arrow-svg-size: null !default;
$splide-arrow-bg: $tertiary !default;
$splide-arrow-svg-color: $secondary !default;
$splide-pagination-block-start: null !default;
$splide-pagination-block-end: unset !default;
$splide-pagination-inline-start: 0 !default;
$splide-pagination-inline-end: 0 !default;
$splide-pagination-margin: null !default;
$splide-pagination-padding: $spacing-xs $spacing-xs 0 $spacing-xs !default;
$splide-pagination-display: flex !default;
$splide-pagination-flex-wrap: wrap !default;
$splide-pagination-gap: $spacing-xs !default;
$splide-pagination-align-items: center !default;
$splide-pagination-justify-content: center !default;
$splide-pagination-position: relative !default;
$splide-pagination-page-size: 0.8rem !default;
$splide-pagination-page-bg: $tertiary-bright !default;
$splide-pagination-page-active-bg: $tertiary !default;

/* Layout */
$header-padding-block: $spacing-xl !default;
$header-bg: transparent !default;
$header-shadow: null !default;
$header-backdrop-filter: null !default;
$header-scrolled-padding: $spacing-m !default;

$header-scrolled-bg: rgb($white, .8) !default;

$header-scrolled-shadow: $shadow-s !default;
$header-scrolled-backdrop-filter: blur(10px) !default;
$header-ul-display: flex !default;
$header-ul-align-items: center !default;
$header-ul-list-style: none !default;
$header-main-nav-fs: $fs-xs !default;
$header-main-nav-fw: 500 !default;
$header-main-nav-d-gap: $spacing-2xl !default;
$header-main-nav-m-flex-direction: column !default;
$header-main-nav-m-align-items: stretch !default;
$header-main-nav-m-gap: unset !default;
$header-main-nav-m-li-padding: $spacing-xs !default;
$header-option-nav-gap: $spacing-m !default;
$section-padding-block: $spacing * 48 !default;
$section-padding-inline: $spacing-range-m-3xl !default;
$section-bg: $secondary !default;
$section-border: 0.1rem solid $border-color !default;

$highlight-gap: $spacing-xs !default;
$highlight-bg: $tertiary-bright !default;
$highlight-radius: $radius-max !default;
$highlight-fs: $fs-range-fs-xs !default;
$highlight-fw: 500 !default;
$highlight-color: $tertiary !default;
$highlight-lh: $lh !default;
$highlight-svg-size: $highlight-fs !default;

$preheader-margin-block-end: $spacing-m !default;
$preheader-gap: $spacing-m !default;
$preheader-align-items: center !default;
$preheader-fs: $fs-range-fs-xs !default;
$preheader-fw: 500 !default;
$preheader-color: $tertiary !default;
$preheader-lh: $lh-l !default;
$preheader-text-transform: uppercase !default;
$preheader-content: '' !default;
$preheader-w: 3.2rem !default;
$preheader-h: 0.2rem !default;
$preheader-bg: $preheader-color !default;

$social-icon-size: 2.4rem !default;
$social-icon-color: $color-zinc-400 !default;

$social-icons-display: flex !default;
$social-icons-gap: $spacing-l !default;
$social-icons-align-items: center !default;
$social-icons-svg-size: 2.4rem !default;

$wrapper-row-gap: $spacing * 32 !default;
$wrapper-column-gap: $spacing * 32 !default;

$hero-availability-padding: $spacing-xxs $spacing-s !default;
$hero-availability-bg: $highlight-bg !default;
$hero-availability-radius: $highlight-radius !default;
$hero-availability-fs: $highlight-fs !default;
$hero-availability-fw: $highlight-fw !default;
$hero-availability-lh: $highlight-lh !default;
$hero-availability-color: $highlight-color !default;
$hero-element-padding: $spacing-xl !default;
$hero-element-radius: $radius-2xl !default;
$hero-element-radius-max: $radius-max !default;
$hero-element-shadow: $shadow-2xl !default;
$hero-element-shadow-soft: $shadow-l !default;
$hero-element-transform: transform .5s cubic-bezier(.4, 0, .2, 1) !default;
$hero-element-1-bg: $tertiary !default;
$hero-element-2-bg: $secondary !default;
$hero-element-2-child-1-bg: $color-zinc-100 !default;
$hero-element-2-child-1-radius: $radius-xl !default;
$hero-element-2-child-2-bg: $color-zinc-200 !default;
$hero-element-2-child-4-grandchild-1-bg: rgb($tertiary, .1) !default;
$hero-element-2-child-4-grandchild-2-bg: rgb($quaternary, .1) !default;
$hero-element-3-bg: rgb($secondary, .9) !default;
$hero-element-3-child-1-grandchild-1-bg: linear-gradient(125deg, $tertiary 20%, $quaternary-dark 100%) !default;
$hero-element-3-child-1-grandchild-2-bg: $color-zinc-100 !default;
$hero-element-3-child-1-grandchild-3-bg: $color-zinc-100 !default;
$hero-element-4-bg: $quaternary !default;

$about-wrapper-gap: $spacing-2xl !default;
$about-item-padding: $spacing-2xl !default;
$about-item-direction: row !default;
$about-item-gap: $spacing-2xl !default;
$about-item-card-icon-padding: $spacing-s !default;
$about-item-card-icon-bg: $highlight-bg !default;
$about-item-card-icon-radius: $radius-xl !default;
$about-item-header-display: flex !default;
$about-item-header-align-items: stretch !default;
$about-item-body-h-fs: $fs-range-m-l !default;
$about-item-body-h-lh: $lh-m !default;
$about-item-img-radius: $radius-2xl !default;
$about-item-img-shadow: $shadow-xl !default;

$skills-wrapper-gap: $spacing-3xl !default;
$skill-item-padding: $spacing-2xl !default;
$skill-item-gap: $spacing-xl !default;
$skill-item-bg: $color-zinc-50 !default;
$skill-item-h-fs: $fs-range-s-m !default;
$skill-item-h-lh: $lh-2xl !default;
$skill-item-icon-padding: $spacing-s !default;
$skill-item-icon-bg: $secondary !default;
$skill-item-icon-border: 0.1rem solid $border-color !default;
$skill-item-icon-radius: $radius-xl !default;
$skill-item-icon-shadow: $shadow-s !default;
$skill-item-icon-svg-width: 2rem !default;
$skill-item-icon-svg-height: 2rem !default;
$skill-item-header-display: flex !default;
$skill-item-header-gap: $spacing-m !default;
$skill-item-header-align-items: center !default;
$skill-item-footer-display: flex !default;
$skill-item-footer-gap: $spacing-xs !default;
$skill-item-footer-align-items: center !default;
$skill-item-hover-border: 0.1rem solid $tertiary-bright !default;

$experience-wrapper-max-w: 87rem !default;
$experience-item-display: flex !default;
$experience-item-gap: clamp(2.8rem, 1.3714rem + 4.4643vw, 4.8rem) !default;
$experience-item-timepoint-padding: $spacing * 22 !default;
$experience-item-timepoint-before-width: 1.2rem !default;
$experience-item-timepoint-before-height: 1.2rem !default;
$experience-item-timepoint-before-bg: $secondary !default;
$experience-item-timepoint-before-border: 0.2rem solid $tertiary !default;
$experience-item-timepoint-before-radius: $radius-max !default;
$experience-item-timepoint-before-shadow: $shadow-s !default;
$experience-item-timepoint-after-width: 0.1rem !default;
$experience-item-timepoint-after-height: 100% !default;
$experience-item-timepoint-after-color: $border-color-dark !default;
$experience-item-date-padding: $spacing * 21 !default;
$experience-item-date-display: flex !default;
$experience-item-date-flex-shrink: 0 !default;
$experience-item-date-justify-content: flex-end !default;
$experience-item-date-fs: $fs-xs !default;
$experience-item-date-fw: 500 !default;
$experience-item-date-color: $tertiary !default;
$experience-item-date-lh: $lh !default;
$experience-item-card-h-fs: $fs-range-l-xl !default;
$experience-item-card-h-fw: 700 !default;
$experience-item-card-h-lh: $lh-s !default;
$experience-item-card-workplace-display: flex !default;
$experience-item-card-workplace-gap: $spacing-m !default;
$experience-item-card-workplace-align-items: center !default;
$experience-item-card-workplace-point-fs: $fs-range-xs-s !default;
$experience-item-card-workplace-point-color: $color-zinc-900 !default;
$experience-item-card-workplace-icon-width: 1.4rem !default;
$experience-item-card-workplace-icon-height: 1.4rem !default;
$experience-item-card-workplace-icon-color: $p-color !default;
$experience-item-card-workplace-city-fs: $fs-range-fs-xs !default;
$experience-item-card-workplace-city-fw: 400 !default;

$project-wrapper-row-gap: $spacing-3xl !default;
$project-item-bg: $color-zinc-50 !default;
$project-item-fs: $fs-range-xs-s !default;
$project-item-lh: $lh-3xl !default;
$project-item-h-fs: $fs-range-l-xl !default;
$project-item-h-lh: $lh !default;
$project-item-icon-padding: $spacing-xs !default;
$project-item-icon-bg: $secondary !default;
$project-item-icon-border: 0.1rem solid $border-color-dark !default;
$project-item-icon-radius: $radius-max !default;
$project-item-icon-svg-width: 1.4rem !default;
$project-item-icon-svg-height: 1.4rem !default;
$project-item-icon-svg-color: $color-zinc-400 !default;
$project-item-pill-padding: $spacing-xxs ($spacing * 5) !default;
$project-item-pill-fs: $fs !default;
$project-item-body-padding: 0 $spacing-2xl !default;
$project-item-body-wrapper-padding: $spacing-2xl 0 !default;
$project-item-body-wrapper-display: flex !default;
$project-item-body-wrapper-direction: column !default;
$project-item-body-wrapper-border-block-end: 0.1rem solid $border-color-dark !default;
$project-item-footer-display: flex !default;
$project-item-footer-gap: $spacing-xs !default;

$education-wrapper-gap: $spacing-3xl !default;
$education-item-padding: $spacing-2xl !default;
$education-item-bg: $secondary !default;
$education-item-fs: $fs-range-fs-xs !default;
$education-item-lh: $lh-m !default;
$education-item-h-fs: $fs-range-s-m !default;
$education-item-h-lh: $lh-2xl !default;
$education-item-icon-padding: $spacing-m !default;
$education-item-icon-bg: $highlight-bg !default;
$education-item-icon-radius: $radius-max !default;
$education-item-icon-svg-width: 3.2rem !default;
$education-item-icon-svg-height: 3.2rem !default;
$education-item-header-display: flex !default;
$education-item-header-justify-content: center !default;
$education-item-body-wrapper-padding: $spacing-xl 0 !default;
$education-item-body-wrapper-border-block-end: 0.1rem solid $border-color-dark !default;
$education-item-body-wrapper-text-align: center !default;
$education-item-footer-padding: $spacing-xl 0 0 0 !default;
$education-item-footer-display: flex !default;
$education-item-footer-gap: $spacing-m !default;
$education-item-footer-align-items: center !default;
$education-item-footer-justify-content: space-between !default;
$education-item-footer-highlight-gap: $spacing-xxs !default;
$education-item-footer-highlight-size: 1.6rem !default;
$education-splide-track-margin-inline: -$spacing-xs !default;
$education-splide-track-padding-block: 0 $spacing-xs !default;
$education-splide-track-padding-inline: $spacing-xs !default;
$education-slider-arrow-bg: $tertiary !default;
$education-slider-arrow-stroke: $secondary !default;

$contact-wrapper-gap: $spacing-3xl !default;
$contact-item-padding: $spacing-2xl !default;
$contact-item-icon-padding: $spacing-s !default;
$contact-item-icon-bg: $secondary !default;
$contact-item-icon-border: 0.1rem solid $border-color-dark !default;
$contact-item-icon-radius: $radius-max !default;
$contact-item-icon-svg-width: 2rem !default;
$contact-item-icon-svg-height: 2rem !default;
$contact-item-header-padding: 0 0 $spacing-xl 0 !default;
$contact-item-header-display: flex !default;
$contact-item-header-gap: $spacing-m !default;
$contact-item-header-align-items: center !default;
$contact-item-header-border: 0.1rem solid $border-color-dark !default;
$contact-item-footer-padding: $spacing-xl 0 0 0 !default;
$contact-item-footer-border: 0.1rem solid $border-color-dark !default;
$contact-item-info-card-bg: $color-zinc-100 !default;
$contact-item-info-card-body-wrapper-padding: $spacing-xl 0 0 0 !default;
$contact-item-form-card-body-wrapper-padding: 0 0 $spacing-xl 0 !default;
$contact-item-form-card-footer-display: flex !default;
$contact-item-form-card-footer-gap: $spacing-xl !default;
$contact-item-form-card-footer-justify-content: center !default;

$footer-bg: $color-zinc-50 !default;
$footer-social-icon-color: $social-icon-color !default;

$backdrop-bg: null !default;
$backdrop-backdrop-filter: $header-scrolled-backdrop-filter !default;
$backdrop-transition: opacity .3s ease, visibility .3s ease !default;

$breakpoints: (
  mobile-nav: 63.99rem,
  tablet: 48rem,
  desktop: 64rem,
  wide: 75rem,
) !default;

$colors: (
  black: $black,
  white: $white,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  tertiary-bright: $tertiary-bright,
  tertiary-brighter: $tertiary-brighter,
  quaternary: $quaternary,
  quaternary-dark: $quaternary-dark,
  zinc-50: $color-zinc-50,
  zinc-100: $color-zinc-100,
  zinc-200: $color-zinc-200,
  zinc-300: $color-zinc-300,
  zinc-400: $color-zinc-400,
  zinc-600: $color-zinc-600,
  zinc-900: $color-zinc-900
) !default;

$spaces: (
  base: $spacing,
  xxs: $spacing-xxs,
  xs: $spacing-xs,
  s: $spacing-s,
  m: $spacing-m,
  l: $spacing-l,
  xl: $spacing-xl,
  "2xl": $spacing-2xl,
  "3xl": $spacing-3xl
) !default;

$radii: (
  xs: $radius-xs,
  s: $radius-s,
  m: $radius-m,
  l: $radius-l,
  xl: $radius-xl,
  "2xl": $radius-2xl,
  "3xl": $radius-3xl,
  max: $radius-max
) !default;
