@use "../variables" as v;
@use "../mixins/alert-variant" as alertVariant;

.alert {
	padding: v.$spacing-m v.$spacing-l;
	border: 0.1rem solid currentColor;
	border-radius: v.$radius-xl;
	font-size: v.$fs-range-xs-s;
	line-height: v.$lh-3xl;
	
	&.alert--success {
		@include alertVariant.alert-variant(v.$color-success);
	}

	&.alert--error {
		@include alertVariant.alert-variant(v.$color-danger);
	}

	&.alert--warning {
		@include alertVariant.alert-variant(v.$color-warning);
	}

	&.alert--info {
		@include alertVariant.alert-variant(v.$color-info);
	}
}
