@use "../variables" as v;
@use "../mixins/mixins" as m;

form {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-xl;
}

label {
    margin-block-end: 0.8rem;
    display: block;
    font-family: v.$font-text-family;
    font-size: v.$fs-xs;
    font-weight: 500;
}

input,
select,
textarea {
    width: 100%;
    padding: v.$spacing-s;
    background: v.$input-bg;
    border: 0.1rem solid v.$input-border-color;
    border-radius: v.$radius-xl;
    font-size: v.$fs-s;


}

input[type="text"],
input[type="email"],
textarea {
    &:not(:placeholder-shown) {
        background: v.$input-checked-bg;
    }
}

select,
select::picker(select) {
    appearance: base-select;
}

select {

    &::checkmark {
        content: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e";
    }

    &::picker-icon {
        transition: 0.4s rotate;
    }

    &:open::picker-icon {
        rotate: 180deg;
    }

    &::picker(select) {
        background: transparent;
        border: none;
    }

    option {
        background: v.$input-bg;
        border: 0.1rem solid v.$input-border-color;

        &:first-of-type {
            border-radius: v.$radius-xl v.$radius-xl 0 0;
        }

        &:last-of-type {
            border-radius: 0 0 v.$radius-xl v.$radius-xl;
        }

        &:not(:last-child) {
            border-block-end: none;
        }

        &:checked {
            background: v.$input-checked-bg;
        }
    }
}

textarea {
    height: 17.2rem;
    resize: none;
}

input[type="checkbox"],
input[type="radio"] {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    appearance: none;

    &:checked {
        background: v.$input-checked-bg;
    }
}

input[type="checkbox"] {
    border-radius: v.$radius-xs;

    &:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }
}

input[type="radio"] {
    border-radius: v.$radius-max;

    &:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
    }
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-xl;
    @media (min-width: 41.75rem)  {
        flex-direction: row;
    }
}

.form-group {
    width: 100%;
}

.input-group {
    position: relative;
    
    .icon-button {
        top: 50%;
        right: 1.4rem;
        width: 2.4rem;
        height: 2.4rem;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        cursor: pointer;
        transform: translateY(-50%);
        color: v.$body-color;
        position: absolute;
        
        &:hover,
        &:focus-visible {
            color: v.$tertiary;
        }
        
        svg {
            @include m.icon-size (2.4rem);
            stroke-width: 1.8;
            pointer-events: none;
        }
    }
}

.form-group--honeypot {
    position: absolute;
    inset-inline-start: -999rem;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.form-check {
    display: flex;
    gap: v.$spacing-xs;
}

/*.contact-form__status,*/
[data-form-status],
[data-form-error] {
    display: none;
    font-family: v.$font-text-family;
    font-size: v.$fs-xs;
}

/*.contact-form__status*/[data-form-status="success"],
/*.contact-form__status*/[data-form-status="error"],
[data-form-error]:not(:empty) {
    display: block;
}

/*.contact-form__status*/[data-form-status="success"] {
    color: v.$green;
}

/*.contact-form__status*/[data-form-status="error"],
[data-form-error]:not(:empty) {
    color: v.$red;
}
