@use "../variables" as v;
@use "../mixins/mixins" as m;

header {
    inset-block-start: 0;
    width: 100%;
    padding-block: 2.4rem;
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    position: fixed;
    z-index: 100;

    &::before {
        content: "";
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        pointer-events: none;
        transition: inherit;
        position: absolute;
        z-index: 2;
    }

    &.header--scrolled {
        padding-block: 1.6rem;

        &::before {
            background: v.$header-scrolled-bg;
            box-shadow: v.$shadow-s;
            backdrop-filter: v.$header-scrolled-backdrop-filter;
        }
    }
    
    a {
        text-decoration: none;
        white-space: nowrap;
    }
    
    ul {

        
        li {
            margin-inline-start: unset;
        }
    }
    .header__wrapper,
    .header__nav-wrapper {
        display: flex;
        align-items: center;
    }

    .header__wrapper {
        gap: v.$spacing-l;
        position: relative;
    }

    .header__nav-wrapper {
        margin-inline-start: auto;
        position: relative;
        z-index: 3;

        @include m.respond-until(mobile-nav) {
            inset-inline-end: 0;
            inset-block-end: 0;
            width: min(100%, 32rem);
            padding: v.$offcanvas-padding;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: v.$offcanvas-gap;
            background: v.$offcanvas-bg;
            box-shadow: v.$shadow-m;
            transform: translateX(100%);
            transition: none;
            position: fixed;
        }
    }

    .logo {
        margin-inline-end: auto;
        z-index: 3;
    }

    .main-nav {
        
        ul {
            @include m.flex-cluster (3.2rem, center, flex-start, nowrap);
            list-style: none;
            font-weight: 500;
        }

        li {
            font-size: 1.4rem;
        }

        @include m.respond-until(mobile-nav) {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            ul {
                flex-direction: column;
                align-items: stretch;
                gap: unset;
            }

            li {
                padding-block: 0.8rem;

                &:last-child {
                    padding-block: 0.8rem;
                }
            }
        }

        + * {
            @include m.respond-from(desktop) {
                margin-inline-start: v.$spacing-m;
                padding-inline-start: v.$spacing-m;
                border-inline-start: 1px solid v.$border-color-dark;
            }

            @include m.respond-until(mobile-nav) {
                padding-block-start: v.$spacing-m;
                border-block-start: 1px solid v.$border-color-dark;
            }
        }
    }

    .option-nav {
        
        ul {
            @include m.flex-cluster (1.6rem, center, flex-start, nowrap);
            list-style: none;
        }
    }

    .mobile-nav-toggle {
        margin-inline-start: auto;
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 3;

        @include m.respond-from(desktop) {
            display: none;
        }
    }
}

.nav--animate,
.nav--open {
    
    header .header__nav-wrapper {
        @include m.respond-until(mobile-nav) {
            transition: transform .3s ease-in-out;
        }
    }
}

.nav--open {
    overflow-y: clip;

    header::before {
        background: v.$header-bg;
        box-shadow: v.$shadow-s;
    }

    header .header__nav-wrapper {
        @include m.respond-until(mobile-nav) {
            transform: translateX(0);
        }
    }
    
    header.header--scrolled::before {
        background: v.$header-scrolled-bg;
    }
    
    header.header--scrolled .header__nav-wrapper {
        @include m.respond-until(mobile-nav) {
            background: v.$header-scrolled-bg;
        }
    }

    .backdrop {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}
