@use "../../variables" as v;

.hero__wrapper,
.about__wrapper,
.skills__wrapper,
.projects__wrapper,
.education__wrapper,
.contact__wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: v.$spacing * 32;
	column-gap: v.$spacing * 32;
}

.hero__wrapper,
.about__wrapper,
.contact__wrapper {
	@media (min-width: 64rem)  {
		grid-template-columns: repeat(2, 1fr);
	}
}

.skills__wrapper,
.projects__wrapper,
.education__wrapper {
	@media (min-width: 48rem)  {
		grid-template-columns: repeat(2, 1fr);
	}
}
