@use "../../variables" as v;
@use "../../mixins/mixins" as m;

.contact {

	.contact__wrapper {
		row-gap: v.$spacing-3xl;
		column-gap: v.$spacing-3xl;
	}

	.card--contact-item,
	.card--contact-item .card__body,
	.card--contact-item .card__body-wrapper {
		overflow: visible;
	}

	.btn {
		width: 100%;
		justify-content: center;
	}
}
