@use "../../variables" as v;

.hero {
	min-height: 100vh;
	display: flex;
	align-items: center;

	.hero__col {

		&:first-child {
			display: flex;
			flex-direction: column;
			gap: v.$spacing-xl;

			.availability {
				width: fit-content;
				padding: v.$spacing-xxs v.$spacing-s;
				display: inline-flex;
				gap: v.$spacing-xs;
				align-items: center;
				background: v.$highlight-bg;
				border-radius: v.$radius-max;
				font-size: v.$fs-range-fs-xs;
				font-weight: 500;
				color: v.$highlight-color;
				line-height: v.$lh-l;

				&::before {
					content: '';
					width: 0.8rem;
					height: 0.8rem;
					display: block;
					background-color: v.$highlight-color;
					border-radius: v.$radius-max;
				}
			}

			h1 i {
				padding-inline-end: v.$spacing-xs;
				background: v.$hero-h-1-i-bg;
				background-clip: text;
				background-image: v.$hero-h-1-i-bg-image;
				color: transparent;
			}

			b {
				font-weight: bold;
			}

			.hero__buttons {
				display: flex;
				flex-direction: column;
				gap: v.$spacing-m;
				@media (min-width: 35.5rem) {
					flex-direction: row;
				}

				.btn {
					box-shadow: v.$btn-shadow;
				}
			}
		}

		&:last-child {
			display: none;
			@media (min-width: 64rem) {
				display: flex;
				align-items: center;
			}

			> div {
				width: 100%;
				max-width: 44.8rem;
				margin-inline: auto;
				aspect-ratio: 1 / 1;
				position: relative;
			}

			.hero-element {
				position: absolute;

				&:is(:nth-child(1), :nth-child(4)) {
					@media (prefers-reduced-motion: reduce) {
						animation: none !important;
					}
				}

				&:is(:nth-child(2), :nth-child(3)) {
					padding: v.$spacing-xl;
					border:  v.$hero-element-border;
					border-radius: v.$radius-2xl;
					box-shadow: v.$shadow-2xl;
					transition: transform .5s cubic-bezier(.4, 0, .2, 1);
					will-change: transform;
					@media (prefers-reduced-motion: reduce) {
						transition: none !important;
					}
				}

				&:nth-child(1) {
					inset-block-start: -1.6rem;
					inset-inline-start: 4.8rem;
					width: 6.4rem;
					aspect-ratio: 1 / 1;
					background: v.$hero-element-1-bg;
					border-radius: v.$radius-2xl;
					box-shadow: v.$shadow-l;
					animation: bounce 4s infinite;
					will-change: transform;
				}

				&:nth-child(2) {
					inset-block-start: 0;
					inset-inline-end: 4rem;
					width: 25.6rem;
					height: 32rem;
					background: v.$hero-element-2-bg;
					transform: rotate(6deg);
					transform-origin: bottom right;

					&:hover {
						transform: rotate(12deg);
					}

					> div {

						&:nth-child(1) {
							height: 12.8rem;
							margin-block-end: v.$spacing-m;
							background: v.$hero-element-2-child-1-bg;
							border-radius: v.$radius-xl;
						}

						&:nth-child(2),
						&:nth-child(3) {
							height: 1.6rem;
							background: v.$hero-element-2-child-2-bg;
							border-radius: v.$radius-max;
						}

						&:nth-child(2) {
							width: 75%;
							margin-block-end: v.$spacing-s;
						}

						&:nth-child(3) {
							width: 50%;
							margin-block-end: v.$spacing-xl;
						}

						&:nth-child(4) {
							display: flex;
							gap: v.$spacing-xs;

							span {
								width: 3.2rem;
								height: 3.2rem;
								border-radius: v.$radius-max;

								&:nth-child(1) {
									background: v.$hero-element-2-child-4-grandchild-1-bg;

								}

								&:nth-child(2) {
									background: v.$hero-element-2-child-4-grandchild-2-bg;
								}
							}
						}
					}
				}

				&:nth-child(3) {
					inset-block-end: 4rem;
					inset-inline-start: 0;
					width: 28.8rem;
					height: 25.6rem;
					background: v.$hero-element-3-bg;
					backdrop-filter: blur(4px);
					transform: rotate(-3deg);
					transform-origin: top left;

					&:hover {
						transform: rotate(-6deg);
					}

					> div {
						border-radius: v.$radius-max;

						&:nth-child(1) {
							margin-block-end: v.$spacing-xl;
							display: flex;
							align-items: center;
							gap: v.$spacing-m;

							> div {
								border-radius: v.$radius-max;

								&:nth-child(1) {
									width: 4.8rem;
									aspect-ratio: 1 / 1;
									background: v.$hero-element-3-child-1-grandchild-1-bg;
								}

								&:nth-child(2) {
									width: 100%;

									> div {

										&:nth-child(1),
										&:nth-child(2) {
											width: 100%;
											border-radius: v.$radius-max;
										}

										&:nth-child(1) {
											max-width: 9.6rem;
											height: 1.6rem;
											margin-block-end: v.$spacing-xs;
											background: v.$hero-element-3-child-1-grandchild-2-bg;
										}

										&:nth-child(2) {
											max-width: 6.4rem;
											height: 1.2rem;
											background: v.$hero-element-3-child-1-grandchild-3-bg;
										}

									}
								}
							}
						}

						&:nth-child(2),
						&:nth-child(3),
						&:nth-child(4) {
							width: 100%;
							height: 1.2rem;
							background: v.$hero-element-3-child-bg;


							&:not(:last-child) {
								margin-block-end: v.$spacing-s;
							}
						}

						&:nth-child(4) {
							width: 75%;
						}
					}
				}

				&:nth-child(4) {
					inset-inline-end: 0;
					inset-block-end: 9.6rem;
					width: 4.8rem;
					aspect-ratio: 1 / 1;
					background: v.$hero-element-4-bg;
					border-radius: v.$radius-max;
					box-shadow: v.$shadow-l;
					animation: bounce 5s 1s infinite;
					will-change: transform;
				}
			}
		}
	}
}
