@use "../../variables" as v;
@use "../../mixins/mixins" as m;

.skills {

	.skills__wrapper {
		row-gap: v.$spacing-3xl;
		column-gap: v.$spacing-3xl;
		@media (min-width: 75rem)  {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
